<h1>Notebook to clean the Tigers Data Set</h1>
<p>data/DTIFanData_2-21-25.csv will be cleaned</p>

<h3>Dependencies</h3>

In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
# import Helpers from Helpers.py which is in same directory
from Helpers import *

<h3>Load the dataset</h3>

In [63]:
path = 'data/DTIFanData_3-25-25.csv'
# Load the data
data = pd.read_csv(path)
# Display the first few rows of the dataframe
print(data.head())

/tmp/ipykernel_20862/3258381663.py:3: DtypeWarning: Columns (4,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path)

   KeepFlag  GlobalKey  SeasonKey FanSinceDate  \
0         1         11       2025     5/1/2009
1         1         12       2025    2/25/2009
2         1         15       2025     8/5/2008
3         1         17       2025    6/24/2007
4         1         19       2025     8/5/2008

                  FirstGameAttended  TotalGamesAttended  \
0         2023-08-05 Tampa Bay Rays                 4.0
1  2024-06-25 Philadelphia Phillies                 1.0
2     2013-06-27 Los Angeles Angels                 6.0
3      2015-07-05 Toronto Blue Jays                 8.0
4          2013-07-14 Texas Rangers                 1.0

                    FirstGameBought                    LastGameBought  \
0         2023-08-05 Tampa Bay Rays  2024-06-26 Philadelphia Phillies
1  2024-06-25 Philadelphia Phillies  2024-06-25 Philadelphia Phillies
2       2021-06-08 Seattle Mariners       2021-06-08 Seattle Mariners
3         2021-06-26 Houston Astros      2024-09-29 Chicago White Sox
4                               NaN                               NaN

   TotalTicketsPurchased  TotalLifetimeValue  ...  \
0                   15.0              308.00  ...
1                    6.0              114.00  ...
2                    1.0               35.00  ...
3                   28.0             1268.04  ...
4                    NaN                 NaN  ...

   PercentOfTicketsPurchasedPresale  PercentOfTicketsPurchasedFirstDayOnsale  \
0                              0.00                                     0.00
1                               NaN                                      NaN
2                               NaN                                      NaN
3                              0.62                                     0.25
4                              0.00                                     0.00

   PercentOfTicketsPurchasedFirstWeekOnSale  \
0                                       0.0
1                                       NaN
2                                       NaN
3                                       0.0
4                                       0.5

  PercentOfTicketsPurchasedBeforeWeekOfEvent  \
0                                       0.86
1                                        NaN
2                                        NaN
3                                       0.12
4                                       0.50

  PercentOfTicketsPurchasedWeekOfEvent  PercentOfTransactionsViaTicketMaster  \
0                                 0.14                                  0.86
1                                  NaN                                   NaN
2                                  NaN                                   NaN
3                                 0.00                                  0.88
4                                 0.00                                  0.00

   PercentOfTransactionsViaCallCenter  PercentOfTransactionsViaMobile  \
0                                 0.0                            0.14
1                                 NaN                             NaN
2                                 NaN                             NaN
3                                 0.0                            0.12
4                                 0.0                            1.00

   PercentOfTransactionsViaBoxOffice  PercentOfTransactionsViaOutlet
0                                0.0                             0.0
1                                NaN                             NaN
2                                NaN                             NaN
3                                0.0                             0.0
4                                0.0                             0.0

[5 rows x 196 columns]

In [64]:
# Function to check for type errors in columns
def check_type_errors(df):
    type_errors = {}
    for column in df.columns:
        try:
            df[column].astype(df[column].dtype)
        except ValueError as e:
            type_errors[column] = str(e)
    return type_errors

# Check for type errors in the data
type_errors = check_type_errors(data)
print("Columns with type errors:", type_errors)

Columns with type errors: {}

In [65]:
# Get the data types of all columns
column_types = data.dtypes
for column, dtype in column_types.items():
    print(f"{column}: {dtype}")

KeepFlag: int64
GlobalKey: int64
SeasonKey: int64
FanSinceDate: object
FirstGameAttended: object
TotalGamesAttended: float64
FirstGameBought: object
LastGameBought: object
TotalTicketsPurchased: float64
TotalLifetimeValue: float64
CurrentSeasonEmailActivities: float64
PreviousSeasonsEmailActivities: float64
STMFlagCurr: int64
TicketingFanType: object
EmailFanType: object
FullSeasonBuyer: float64
HalfSeasonBuyer: float64
QuarterSeasonBuyer: float64
MiniPlanBuyer: float64
IndividualGameBuyer: float64
City: object
State: object
PostalCd: object
Country: object
Gender: object
Education: object
Occupation: object
Age: float64
MaritalStatus: object
PresenceOfChildren: object
DwellingType: object
HouseholdIncome: object
NetWorth: object
PrimaryVehicleType: object
MSADescription: object
MailSuppresionFlg: float64
WorkingWomanFlg: float64
BankCardHolderFlg: float64
GasDepartmentRetailCardHolderFlg: float64
TravelEntertainmentCardHolderFlg: float64
CreditCardHolderUnknownTypeFlg: float64
PremiumCardHolderFlg: float64
UpscaleDepartmentStoreCardHolderFlg: float64
MailOrderResponderFlg: float64
TruckOwnerFlg: float64
MotorcycleOwnerFlg: float64
RVOwnerFlg: float64
IntTheatrePerformingArtsFlg: float64
IntArtsFlg: float64
IntDomesticTravelFlg: float64
IntHomeStereosFlg: float64
IntMusicDevicesFlg: float64
IntMusicAvidListenerFlg: float64
IntMusicCollectorFlg: float64
IntMovieCollectorFlg: float64
IntAutoRacingFlg: float64
IntFootballFlg: float64
IntBaseballFlg: float64
IntBasketballFlg: float64
IntHockeyFlg: float64
IntContestsFlg: float64
IntSportsFlg: float64
IntMusicMoviesFlg: float64
IntNascarFlg: float64
IntUpscaleLivingFlg: float64
DistanceToArena: float64
NumberOfAdultsInHousehold: float64
LengthOfResidence: float64
DiscretionaryIncomeIndex: float64
FinancialScore: float64
NumberOfVehicles: float64
Male18to24: float64
Female18to24: float64
Male25to34: float64
Female25to34: float64
Male35to44: float64
Female35to44: float64
Male45to54: float64
Female45to54: float64
Male55to65: float64
Female55to64: float64
Male65to75: float64
Female65to74: float64
Male75up: float64
Female75up: float64
ClientFirstSaleDateKey: float64
VisaCardUserFlg: float64
MasterCardUserFlg: float64
AmexCardUserFlg: float64
DiscoverCardUserFlg: float64
OtherCardUserFlg: float64
ClientWalkUpBuyerFlg: float64
GroupBuyerFlg: float64
ConcertEventFlg: float64
ArtsEventFlg: float64
SportsEventFlg: float64
FamilyEventFlg: float64
HighSpenderFlg: float64
TotalEvents: float64
AvgTicketsPerEvent: float64
TotalSpend: float64
AvgSpendPerEvent: float64
LowestTicketPrice: float64
HighestTicketPrice: float64
AvgDistanceTraveledLocal: float64
SpendPerEventConcerts: float64
SpendPerEventArts: float64
SpendPerEventSports: float64
SpendPerEventFamily: float64
ClusterCode: float64
ClusterDescription: object
GroupCode: float64
GroupDescription: object
OutlierFlg: float64
ModelConfidence: float64
ModelPlanGrade: object
ModelPlanScore: float64
ModelTixPriceGrade: object
ModelTixPriceScore: float64
ModelSeasonSpendGrade: object
ModelSeasonSpendScore: float64
RFMGrade: object
RFMScore: float64
HighPriceBuyerLikelihood: float64
PropnBaseball: float64
PropnBasketball: float64
PropnFootball: float64
PropnHockey: float64
PropnSoccer: float64
PropnAdultContemporary: float64
PropnAltRock: float64
PropnCountry: float64
PropnEDM: float64
PropnMetal: float64
PropnJazzBlues: float64
PropnLatin: float64
PropnUrbanHipHopRap: float64
PropnRnBSoul: float64
PropnRockPop: float64
PropnMusicFestivals: float64
PropnOtherConcerts: float64
PropnBroadwayMusical: float64
PropnComedy: float64
PropnClassicalOpera: float64
PropnTheatrePlays: float64
PropnBalletDance: float64
PropnArtsFestival: float64
PropnMagicShows: float64
PropnOtherArts: float64
PropnCircus: float64
PropnFamilyShows: float64
PropnOtherFamily: float64
PropnBoxing: float64
PropnMMA: float64
PropnWrestling: float64
PropnCollegeBaseball: float64
PropnCollegeBasketball: float64
PropnCollegeFootball: float64
PropnCollegeHockey: float64
PropnMotorsports: float64
PropnRodeo: float64
PropnGolf: float64
PropnTennis: float64
PropnOtherSports: float64
HouseholdEstimateIncome: object
MatchLevelCode: object
MatchLevelDescription: object
ShareOfWalletConcerts: float64
ShareOfWalletArts: float64
ShareOfWalletSports: float64
ShareOfWalletFamily: float64
ShareOfWalletMiscellaneous: float64
PercentOfTransactions1_2Tickets: float64
PercentOfTransactions3_4Tickets: float64
PercentOfTransactions5_8Tickets: float64
PercentOfTransactions9PlusTickets: float64
PercentOfTransactions1_25DollarTickets: float64
PercentOfTransactions26_50DollarTickets: float64
PercentOfTransactions51_100DollarTickets: float64
PercentOfTransactions101_200DollarTickets: float64
PercentOfTransactions201PlusDollarTickets: float64
PercentOfTicketsLowPriceLevel: float64
PercentOfTicketsFairPriceLevel: float64
PercentOfTicketsGoodPriceLevel: float64
PercentOfTicketsVeryGoodPriceLevel: float64
PercentOfTicketsBestPriceLevel: float64
PercentOfTicketsPurchasedPresale: float64
PercentOfTicketsPurchasedFirstDayOnsale: float64
PercentOfTicketsPurchasedFirstWeekOnSale: float64
PercentOfTicketsPurchasedBeforeWeekOfEvent: float64
PercentOfTicketsPurchasedWeekOfEvent: float64
PercentOfTransactionsViaTicketMaster: float64
PercentOfTransactionsViaCallCenter: float64
PercentOfTransactionsViaMobile: float64
PercentOfTransactionsViaBoxOffice: float64
PercentOfTransactionsViaOutlet: float64

<h3>Cleaning State Values</h3>
<p>Keep states, provinces, and territories in US and Canada</p>
<p>Other locations will be put in 'OTHERS' category

In [66]:
state_counts = data['State'].value_counts()
state_counts = state_counts.reset_index()
state_counts.columns = ['State', 'Count']
print(state_counts.to_string())

                            State   Count
0                              MI  201900
1                              OH   11889
2                              ON    7658
3                              FL    7014
4                        MICHIGAN    6508
5                              NY    4725
6                              CA    3829
7                              IL    3653
8                              IN    3225
9                              TX    2564
10                        FLORIDA    2228
11                             PA    1770
12                           OHIO    1755
13                       ILLINOIS    1356
14                             MA    1283
15                             NC    1272
16                             VA    1264
17                     CALIFORNIA    1211
18                             GA    1207
19                             AZ    1191
20                        ONTARIO    1145
21                             TN    1068
22                             NJ    1051
23                             WI     910
24                          TEXAS     862
25                             CO     782
26                             MD     757
27                        INDIANA     689
28                       NEW YORK     686
29                             KY     652
30                             MO     648
31                             SC     605
32                       VIRGINIA     577
33                             MN     558
34                 NORTH CAROLINA     547
35                             WA     530
36                             CT     515
37                   PENNSYLVANIA     507
38                             NV     490
39                        ARIZONA     485
40                             AL     459
41                      TENNESSEE     437
42                        GEORGIA     417
43                             IA     341
44                       COLORADO     336
45                     NEW JERSEY     294
46                             KS     286
47                      WISCONSIN     283
48                 SOUTH CAROLINA     266
49                             ME     264
50                       MARYLAND     258
51                             OR     247
52                     WASHINGTON     242
53                             OK     229
54                             LA     227
55                             NE     219
56                             PR     217
57                             UT     217
58                       MISSOURI     213
59                       KENTUCKY     213
60                      MINNESOTA     210
61                         NEVADA     205
62                             DC     191
63                  MASSACHUSETTS     185
64                             AR     157
65                             WV     156
66                             NH     155
67                             QC     145
68                           NONE     142
69                    CONNECTICUT     142
70                     NEW MEXICO     135
71                             NM     134
72                             AB     128
73                         OREGON     128
74                           UTAH     121
75                        ALABAMA     119
76                             DE     116
77                             MS     109
78                  NON-US NON-CA     104
79                           IOWA     103
80                             VT     103
81                             MT     102
82                             HI      99
83                      LOUISIANA      99
84                             ID      98
85                             RI      95
86                             AK      90
87                       OKLAHOMA      86
88                             BC      81
89                         KANSAS      81
90                             SD      72
91           DISTRICT OF COLUMBIA      71
92               DISTRITO CAPITAL      69
93                             ND      68
94                             AE      68
95                             WY      65
96                       NEBRASKA      61
97                        ALBERTA      58
98               BRITISH COLUMBIA      54
99                       ARKANSAS      54
100                 WEST VIRGINIA      46
101                        HAWAII      43
102                            NS      43
103                            SK      41
104                        QUEBEC      41
105                GREATER LONDON      41
106                   MISSISSIPPI      40
107                      DELAWARE      38
108                       MONTANA      38
109                        ALASKA      38
110                         IDAHO      35
111                         MAINE      33
112                 NEW HAMPSHIRE      30
113                            AA      30
114                  RHODE ISLAND      28
115                       MIRANDA      26
116                  NORTH DAKOTA      25
117                  SOUTH DAKOTA      24
118                       VERMONT      24
119                            MB      23
120                      MANITOBA      23
121                       WYOMING      23
122              DISTRITO FEDERAL      22
123                         TOKYO      21
124                        TAIPEI      21
125          REGION METROPOLITANA      20
126                            NB      20
127                            NL      19
128                         ZULIA      17
129                        HESSEN      15
130             DISTRITO NACIONAL      15
131                        ARAGUA      14
132               NEW SOUTH WALES      14
133                           VIC      13
134                      VICTORIA      13
135                            AP      12
136                 NOORD-HOLLAND      12
137                  SASKATCHEWAN      11
138           NORDRHEIN-WESTFALEN      11
139                        PANAMA      10
140                 NEW BRUNSWICK      10
141                   NOVA SCOTIA      10
142                         PARIS       9
143                      CARABOBO       9
144                        SONORA       9
145                        MEXICO       8
146        CIUDAD DE BUENOS AIRES       8
147                        MADRID       8
148                          LARA       7
149               BAJA CALIFORNIA       7
150                     CHIHUAHUA       7
151                      KINGSTON       7
152                  QUINTANA ROO       7
153               SOUTH AUSTRALIA       7
154                    GUANAJUATO       6
155                           NSW       6
156                    NUEVO LEON       6
157                   GYEONGGI-DO       6
158                            PE       6
159                        BAYERN       5
160                      AUCKLAND       5
161                 NUEVA ESPARTA       5
162                            GB       5
163                        LISBOA       4
164                         OSAKA       4
165                     SAO PAULO       4
166            BADEN-WUERTTEMBERG       4
167                    QUEENSLAND       4
168     NEWFOUNDLAND AND LABRADOR       4
169                     GUATEMALA       4
170             SEOUL TEUKBYEOLSI       4
171                   MAZOWIECKIE       4
172                         OTHER       4
173                    ANZOATEGUI       4
174                            13       4
175                        MILANO       3
176                     PICHINCHA       3
177                           QLD       3
178                       BOLIVAR       3
179                        BERLIN       3
180               BUCKINGHAMSHIRE       3
181                  ZUID-HOLLAND       3
182             CENTRAL SINGAPORE       3
183                      HAMERKAZ       3
184                          COAH       3
185                WEST BERKSHIRE       3
186                       JALISCO       3
187            VILNIAUS APSKRITIS       3
188                         MACAU       3
189                  BUENOS AIRES       3
190                       SINALOA       3
191                 LIMA PROVINCE       3
192                       TACHIRA       3
193           BAJA CALIFORNIA SUR       3
194          COAHUILA DE ZARAGOZA       3
195                            GU       3
196               SAN LUIS POTOSI       3
197                      BRUSSELS       3
198                      KANAGAWA       3
199                RIO DE JANEIRO       2
200             BRIGHTON AND HOVE       2
201          PRINCE EDWARD ISLAND       2
202                       YUCATAN       2
203                     ANTIOQUIA       2
204                         APURE       2
205                       BIO-BIO       2
206                     AD DAWHAH       2
207                        TAIWAN       2
208       NATIONAL CAPITAL REGION       2
209                       MANAGUA       2
210                NEW PROVIDENCE       2
211                       COJEDES       2
212                         PORTO       2
213                            TW       2
214                    MANCHESTER       2
215                        DUBAYY       2
216                 SOUTH EASTERN       2
217                       GAUTENG       2
218                    OVERIJSSEL       2
219                       READING       2
220                      ASTURIAS       2
221                           CMX       2
222                      SAN JOSE       2
223                       CARDIFF       2
224              GYEONGSANGBUK-DO       2
225                        TAINAN       2
226                        PARANA       2
227                        GALWAY       2
228                      YVELINES       2
229                       TAOYUAN       2
230                  PUERTO PLATA       2
231                     HAMPSHIRE       2
232                         SUCRE       2
233                      VALENCIA       2
234                         YUKON       2
235               OBEROESTERREICH       2
236                        MALAGA       2
237                   HOVEDSTADEN       2
238                             M       2
239                      CAGLIARI       2
240                           MEX       2
241                     SHEFFIELD       2
242                      ABU ZABY       2
243                       OKINAWA       2
244                     KARNATAKA       2
245                      TAICHUNG       2
246                       HADAROM       2
247          QUERETARO DE ARTEAGA       2
248                   GEORGE TOWN       2
249                            YT       2
250                             6       2
251                       BEOGRAD       2
252                        BELIZE       2
253                  DOLNOSLASKIE       2
254                         AICHI       2
255                STOCKHOLMS LAN       2
256                    KRUNG THEP       2
257                  WESTERN CAPE       2
258                            NT       2
259                    GELDERLAND       2
260                         MICHI       2
261                           SON       2
262                        DUBLIN       2
263               RHEINLAND-PFALZ       2
264                VERACRUZ-LLAVE       2
265                            14       1
266                   BASEL-STADT       1
267        SANTA CRUZ DE TENERIFE       1
268         DUMFRIES AND GALLOWAY       1
269                JONKOPINGS LAN       1
270                         BUSAN       1
271                             D       1
272                             K       1
273                         BAHIA       1
274                     TELANGANA       1
275                    LUXEMBOURG       1
276                        CORTES       1
277                        SURREY       1
278                     NEWTAIPEI       1
279                          ROMA       1
280                      ZARAGOZA       1
281                     HYOGO-KEN       1
282                    BIRMINGHAM       1
283              BASEL-LANDSCHAFT       1
284                         DAEGU       1
285                            22       1
286                    TAMIL NADU       1
287                CAMBRIDGESHIRE       1
288                HAUTS-DE-SEINE       1
289                            27       1
290                             9       1
291                            BS       1
292                        MIYAGI       1
293                      AREQUIPA       1
294             RIO GRANDE DO SUL       1
295                     BARCELONA       1
296                    MONTEVIDEO       1
297                       ZUERICH       1
298                         JILIN       1
299                    NETHERLAND       1
300                            GW       1
301             PERTH AND KINROSS       1
302                     LOS LAGOS       1
303                           DUB       1
304                         BURSA       1
305                    ST. THOMAS       1
306                       VICENZA       1
307                     ATLANTICO       1
308                    SAN MARINO       1
309                  ZLINSKY KRAJ       1
310                        `AMMAN       1
311                     FROSINONE       1
312                      PINGTUNG       1
313                           BOY       1
314                       BRISTOL       1
315                     SANTA ANA       1
316                     ANTWERPEN       1
317               VALLE DEL CAUCA       1
318                     EDINBURGH       1
319                 ABERDEENSHIRE       1
320                 NIEDERSACHSEN       1
321                            RM       1
322                         CHIBA       1
323                       JEJU-DO       1
324                         DHAKA       1
325                      VERAGUAS       1
326               KYIVS KA OBLAST       1
327                          OSLO       1
328                           COL       1
329                        DURHAM       1
330                       CAPITAL       1
331                           EDO       1
332                            YE       1
333                        FALCON       1
334                     ARAUCANIA       1
335                        ANCASH       1
336                             8       1
337                    AL QAHIRAH       1
338                       NORFOLK       1
339                        RHODES       1
340                           NBR       1
341                     MAGDALENA       1
342                    NEW TAIPEI       1
343                            NZ       1
344                    VALPARAISO       1
345                      GIPUZKOA       1
346                   KANAGAWAKEN       1
347                           CAR       1
348                        OLDHAM       1
349              OPTGROUPUSSTATES       1
350                   PAIJAT-HAME       1
351               ILLE-ET-VILAINE       1
352                     AL KUWAYT       1
353                    NOTTINGHAM       1
354                       NAYARIT       1
355                    WIGTOWNSHI       1
356          MYKOLAYIVS KA OBLAST       1
357                MONSENOR NOUEL       1
358                       KEELUNG       1
359                         LECCO       1
360                      PAMPANGA       1
361              LOMAS DE BETANIA       1
362                           MAD       1
363                   NORDJYLLAND       1
364                     NORTHANTS       1
365             DAEGU GWANGYEOKSI       1
366                     SATAKUNTA       1
367            TELFORD AND WREKIN       1
368                       CARACAS       1
369                            38       1
370             WESTERN AUSTRALIA       1
371                     DISTRITOF       1
372                SOUTH TYNESIDE       1
373                 PORT-OF-SPAIN       1
374                         HYOGO       1
375                        MOSKVA       1
376                        OAXACA       1
377                    PORTUGUESA       1
378                           ENG       1
379                        GUAYAS       1
380                            11       1
381  AUSTRALIAN CAPITAL TERRITORY       1
382                   EAST SUSSEX       1
383                    SANTA CRUZ       1
384                      TEL AVIV       1
385                     SINGAPORE       1
386                         KYOTO       1
387                         SHIGA       1
388                     PORDENONE       1
389                     NEW SOUTH       1
390                       TOTTORI       1
391              DONETS KA OBLAST       1
392                     BUCURESTI       1
393                     GATESHEAD       1
394             JIHOMORAVSKY KRAJ       1
395           KOSOVSKO-MITROVACKI       1
396                            CH       1
397                       BAGHDAD       1
398                  WARWICKSHIRE       1
399                   GRAD ZAGREB       1
400                      ROGALAND       1
401                          RIGA       1
402            KENTRIKI MAKEDONIA       1
403                   DUNDEE CITY       1
404                        ATTIKI       1
405                             1       1
406                  YERUSHALAYIM       1
407          SAKHALINSKAYA OBLAST       1
408               ALPES-MARITIMES       1
409                   VARAZDINSKA       1
410                            FC       1
411                  HAUTE-SAVOIE       1
412            RABAT-SALE-KENITRA       1
413                           NEW       1
414                         MEKKA       1
415                             2       1
416                   WEST SUSSEX       1
417                       GABROVO       1
418                         TIMIS       1
419                       UUSIMAA       1
420                     RAJASTHAN       1
421                          VAUD       1
422                          BAKU       1
423                       HAINAUT       1
424                       FIRENZE       1
425                      KOSOVSKI       1
426                           ACT       1
427                         ESSEX       1
428                           WLN       1
429                            NO       1
430                            DL       1
431                           FIF       1
432                           NUE       1
433                       GIRONDE       1
434                           ONT       1
435                            NF       1
436                           HAM       1
437                            BW       1
438                           BRK       1
439                       N7L 2L8       1
440                           COA       1
441                         ONTAR       1
442                  EAST LOTHIAN       1
443                           TOK       1
444                           NTT       1
445                  HEILONGJIANG       1
446                           LAN       1
447                       CENTRAL       1
448                         TIROL       1
449                   SOFIYA-GRAD       1
450                            34       1
451                           CHS       1
452                           GYO       1
453                         ON CA       1
454                           KYU       1
455                            BO       1
456                           BEI       1
457                         ALBER       1
458                            HB       1
459                           LIN       1
460                         SEOUL       1
461                     HONG KONG       1
462                            23       1
463                    NORTH WEST       1
464                          META       1
465                            VE       1
466                      ALICANTE       1
467                            IT       1
468                       MOSELLE       1
469                      ALBACETE       1
470                        VARGAS       1
471                   MALOPOLSKIE       1
472                   SOUTHAMPTON       1
473                         DAKAR       1
474                   CIUDAD REAL       1

In [67]:
# Mapping dictionary for state normalization
state_mapping = {
    'MI': 'MICHIGAN',
    'OH': 'OHIO',
    'IL': 'ILLINOIS',
    'IN': 'INDIANA',
    'WI': 'WISCONSIN',
    'MN': 'MINNESOTA',
    'IA': 'IOWA',
    'KY': 'KENTUCKY',
    'MO': 'MISSOURI',
    'PA': 'PENNSYLVANIA',
    'NY': 'NEW YORK',
    'NJ': 'NEW JERSEY',
    'CT': 'CONNECTICUT',
    'MD': 'MARYLAND',
    'VA': 'VIRGINIA',
    'NC': 'NORTH CAROLINA',
    'SC': 'SOUTH CAROLINA',
    'GA': 'GEORGIA',
    'FL': 'FLORIDA',
    'TX': 'TEXAS',
    'CA': 'CALIFORNIA',
    'WA': 'WASHINGTON',
    'OR': 'OREGON',
    'CO': 'COLORADO',
    'AZ': 'ARIZONA',
    'NV': 'NEVADA',
    'UT': 'UTAH',
    'ID': 'IDAHO',
    'MT': 'MONTANA',
    'WY': 'WYOMING',
    'ND': 'NORTH DAKOTA',
    'SD': 'SOUTH DAKOTA',
    'NE': 'NEBRASKA',
    'KS': 'KANSAS',
    'LA': 'LOUISIANA',
    'AR': 'ARKANSAS',
    'MS': 'MISSISSIPPI',
    'AL': 'ALABAMA',
    'TN': 'TENNESSEE',
    'WV': 'WEST VIRGINIA',
    'DE': 'DELAWARE',
    'VT': 'VERMONT',
    'NH': 'NEW HAMPSHIRE',
    'ME': 'MAINE',
    'HI': 'HAWAII',
    'AK': 'ALASKA',
    'NM': 'NEW MEXICO',
    'OK': 'OKLAHOMA',
    'MA': 'MASSACHUSETTS',
    'RI': 'RHODE ISLAND',
    # Non-state territories and regions
    'PR': 'PUERTO RICO',
    'DC': 'DISTRICT OF COLUMBIA',
    'AS': 'AMERICAN SAMOA',
    'GU': 'GUAM',
    'MP': 'NORTHERN MARIANA ISLANDS',
    'VI': 'VIRGIN ISLANDS',
    'FM': 'FEDERATED STATES OF MICRONESIA',
    'MH': 'MARSHALL ISLANDS',
    # International regions (if applicable)
    'OT': 'ONTARIO',  # Example for Ontario, Canada
    'ON': 'ONTARIO',  # Example for Ontario, Canada
    'Ontario': 'ONTARIO',  # Example for Ontario, Canada
    'NS': 'NOVA SCOTIA',  # Example for Nova Scotia, Canada
    'QC': 'QUEBEC',  # Example for Quebec, Canada
    'BC': 'BRITISH COLUMBIA',  # Example for British Columbia, Canada
    'AB': 'ALBERTA',  # Example for Alberta, Canada
    'SK': 'SASKATCHEWAN',  # Example for Saskatchewan, Canada
    'NL': 'NEWFOUNDLAND AND LABRADOR',  # Example for Newfoundland and Labrador, Canada
    'YT': 'YUKON',  # Example for Yukon, Canada
    'NT': 'NORTHWEST TERRITORIES',  # Example for Northwest Territories, Canada
    'NU': 'NUNAVUT',  # Example for Nunavut, Canada
    'MB': 'MANITOBA',  # Example for Manitoba, Canada
    'PE': 'PRINCE EDWARD ISLAND',  # Example for Prince Edward Island, Canada
    'NB': 'NEW BRUNSWICK'  # Example for New Brunswick, Canada
}

# Function to normalize state values
def normalize_state(state):
    state = state.strip().upper()
    return state_mapping.get(state, state)

# Apply the normalization function to the 'State' column
data['State'] = data['State'].apply(lambda x: normalize_state(x) if pd.notnull(x) else x)

# Display the normalized state counts
normalized_state_counts = data['State'].value_counts().reset_index()
normalized_state_counts.columns = ['State', 'Count']
print(normalized_state_counts.to_string())

                            State   Count
0                        MICHIGAN  208408
1                            OHIO   13644
2                         FLORIDA    9242
3                         ONTARIO    8803
4                        NEW YORK    5411
5                      CALIFORNIA    5040
6                        ILLINOIS    5009
7                         INDIANA    3914
8                           TEXAS    3426
9                    PENNSYLVANIA    2277
10                       VIRGINIA    1841
11                 NORTH CAROLINA    1819
12                        ARIZONA    1676
13                        GEORGIA    1624
14                      TENNESSEE    1505
15                  MASSACHUSETTS    1468
16                     NEW JERSEY    1345
17                      WISCONSIN    1193
18                       COLORADO    1118
19                       MARYLAND    1015
20                 SOUTH CAROLINA     871
21                       KENTUCKY     865
22                       MISSOURI     861
23                     WASHINGTON     772
24                      MINNESOTA     768
25                         NEVADA     695
26                    CONNECTICUT     657
27                        ALABAMA     578
28                           IOWA     444
29                         OREGON     375
30                         KANSAS     367
31                           UTAH     338
32                      LOUISIANA     326
33                       OKLAHOMA     315
34                          MAINE     297
35                       NEBRASKA     280
36                     NEW MEXICO     269
37           DISTRICT OF COLUMBIA     262
38                    PUERTO RICO     217
39                       ARKANSAS     211
40                  WEST VIRGINIA     202
41                         QUEBEC     186
42                        ALBERTA     186
43                  NEW HAMPSHIRE     185
44                       DELAWARE     154
45                    MISSISSIPPI     149
46                           NONE     142
47                         HAWAII     142
48                        MONTANA     140
49               BRITISH COLUMBIA     135
50                          IDAHO     133
51                         ALASKA     128
52                        VERMONT     127
53                   RHODE ISLAND     123
54                  NON-US NON-CA     104
55                   SOUTH DAKOTA      96
56                   NORTH DAKOTA      93
57                        WYOMING      88
58               DISTRITO CAPITAL      69
59                             AE      68
60                    NOVA SCOTIA      53
61                   SASKATCHEWAN      52
62                       MANITOBA      46
63                 GREATER LONDON      41
64                             AA      30
65                  NEW BRUNSWICK      30
66                        MIRANDA      26
67      NEWFOUNDLAND AND LABRADOR      23
68               DISTRITO FEDERAL      22
69                         TAIPEI      21
70                          TOKYO      21
71           REGION METROPOLITANA      20
72                          ZULIA      17
73                         HESSEN      15
74              DISTRITO NACIONAL      15
75                         ARAGUA      14
76                NEW SOUTH WALES      14
77                            VIC      13
78                       VICTORIA      13
79                  NOORD-HOLLAND      12
80                             AP      12
81            NORDRHEIN-WESTFALEN      11
82                         PANAMA      10
83                         SONORA       9
84                          PARIS       9
85                       CARABOBO       9
86         CIUDAD DE BUENOS AIRES       8
87                         MEXICO       8
88                         MADRID       8
89           PRINCE EDWARD ISLAND       8
90                       KINGSTON       7
91                      CHIHUAHUA       7
92                BAJA CALIFORNIA       7
93                           LARA       7
94                SOUTH AUSTRALIA       7
95                   QUINTANA ROO       7
96                     NUEVO LEON       6
97                     GUANAJUATO       6
98                            NSW       6
99                    GYEONGGI-DO       6
100                        BAYERN       5
101                      AUCKLAND       5
102                 NUEVA ESPARTA       5
103                            GB       5
104                         YUKON       4
105                   MAZOWIECKIE       4
106                         OSAKA       4
107            BADEN-WUERTTEMBERG       4
108                         OTHER       4
109                     SAO PAULO       4
110                    QUEENSLAND       4
111                            13       4
112                     GUATEMALA       4
113                    ANZOATEGUI       4
114                        LISBOA       4
115             SEOUL TEUKBYEOLSI       4
116                      BRUSSELS       3
117                WEST BERKSHIRE       3
118          COAHUILA DE ZARAGOZA       3
119                      HAMERKAZ       3
120                        BERLIN       3
121               BUCKINGHAMSHIRE       3
122                  ZUID-HOLLAND       3
123                      KANAGAWA       3
124             CENTRAL SINGAPORE       3
125                           QLD       3
126                       BOLIVAR       3
127                 LIMA PROVINCE       3
128           BAJA CALIFORNIA SUR       3
129                       SINALOA       3
130                         MACAU       3
131                       JALISCO       3
132                        MILANO       3
133               SAN LUIS POTOSI       3
134                          GUAM       3
135                     PICHINCHA       3
136                          COAH       3
137                       TACHIRA       3
138            VILNIAUS APSKRITIS       3
139                  BUENOS AIRES       3
140                    MANCHESTER       2
141                           MEX       2
142                    OVERIJSSEL       2
143                     SHEFFIELD       2
144                     AD DAWHAH       2
145                      ABU ZABY       2
146                        DUBAYY       2
147                     HAMPSHIRE       2
148                       GAUTENG       2
149                     ANTIOQUIA       2
150                       YUCATAN       2
151                      YVELINES       2
152       NATIONAL CAPITAL REGION       2
153                         SUCRE       2
154                            TW       2
155                NEW PROVIDENCE       2
156                      ASTURIAS       2
157                       BIO-BIO       2
158                      SAN JOSE       2
159                      CAGLIARI       2
160                   HOVEDSTADEN       2
161               OBEROESTERREICH       2
162                  PUERTO PLATA       2
163                       TAOYUAN       2
164                        TAINAN       2
165                       READING       2
166                      TAICHUNG       2
167                         PORTO       2
168                           CMX       2
169                         APURE       2
170                       CARDIFF       2
171                       COJEDES       2
172                     KARNATAKA       2
173                        TAIWAN       2
174                       MANAGUA       2
175                      VALENCIA       2
176                 SOUTH EASTERN       2
177                        MALAGA       2
178                             M       2
179             BRIGHTON AND HOVE       2
180                        PARANA       2
181                       OKINAWA       2
182                        GALWAY       2
183              GYEONGSANGBUK-DO       2
184                RIO DE JANEIRO       2
185                             6       2
186                VERACRUZ-LLAVE       2
187                           SON       2
188               RHEINLAND-PFALZ       2
189                         AICHI       2
190                   GEORGE TOWN       2
191         NORTHWEST TERRITORIES       2
192          QUERETARO DE ARTEAGA       2
193                         MICHI       2
194                        DUBLIN       2
195                    KRUNG THEP       2
196                  WESTERN CAPE       2
197                       HADAROM       2
198                        BELIZE       2
199                       BEOGRAD       2
200                    GELDERLAND       2
201                  DOLNOSLASKIE       2
202                STOCKHOLMS LAN       2
203                    WIGTOWNSHI       1
204                     DISTRITOF       1
205                           BRK       1
206                       N7L 2L8       1
207                   NORDJYLLAND       1
208                     NORTHANTS       1
209             DAEGU GWANGYEOKSI       1
210                       CARACAS       1
211                     ARAUCANIA       1
212                            YE       1
213                            38       1
214                           EDO       1
215                      VERAGUAS       1
216                 PORT-OF-SPAIN       1
217                           COA       1
218                    PORTUGUESA       1
219                            11       1
220  AUSTRALIAN CAPITAL TERRITORY       1
221                   EAST SUSSEX       1
222                      PAMPANGA       1
223                       CAPITAL       1
224                           COL       1
225                         KYOTO       1
226               KYIVS KA OBLAST       1
227                       GABROVO       1
228                         DHAKA       1
229                         LECCO       1
230                           FIF       1
231                       VICENZA       1
232                        `AMMAN       1
233                     FROSINONE       1
234                      PINGTUNG       1
235                       BRISTOL       1
236               VALLE DEL CAUCA       1
237                 NIEDERSACHSEN       1
238                           NUE       1
239                            DL       1
240                       ZUERICH       1
241                         BURSA       1
242                            BS       1
243                        MIYAGI       1
244                      AREQUIPA       1
245                HAUTS-DE-SEINE       1
246                         BUSAN       1
247                            BW       1
248                            22       1
249                       NORFOLK       1
250                         CHIBA       1
251                         DAEGU       1
252                            NF       1
253                     NEWTAIPEI       1
254                    TAMIL NADU       1
255                            14       1
256                         BAHIA       1
257                           WLN       1
258                    BIRMINGHAM       1
259                     HYOGO-KEN       1
260                           ONT       1
261                       GIRONDE       1
262                   BASEL-STADT       1
263                         ONTAR       1
264                            NZ       1
265                        RHODES       1
266         DUMFRIES AND GALLOWAY       1
267                      ZARAGOZA       1
268              BASEL-LANDSCHAFT       1
269                        CORTES       1
270                        SURREY       1
271                     TELANGANA       1
272                JONKOPINGS LAN       1
273                  ZLINSKY KRAJ       1
274                    LUXEMBOURG       1
275                MONSENOR NOUEL       1
276              LOMAS DE BETANIA       1
277                       JEJU-DO       1
278                           MAD       1
279                     SATAKUNTA       1
280            TELFORD AND WREKIN       1
281                          ROMA       1
282                             K       1
283                     MAGDALENA       1
284                            RM       1
285                           DUB       1
286                            GW       1
287                            27       1
288                             9       1
289                    ST. THOMAS       1
290                     SANTA ANA       1
291                 ABERDEENSHIRE       1
292                             D       1
293                     EDINBURGH       1
294                     ANTWERPEN       1
295                     ATLANTICO       1
296                           BOY       1
297                    SAN MARINO       1
298        SANTA CRUZ DE TENERIFE       1
299             WESTERN AUSTRALIA       1
300                SOUTH TYNESIDE       1
301                         HYOGO       1
302               ILLE-ET-VILAINE       1
303                      GIPUZKOA       1
304                   KANAGAWAKEN       1
305                           CAR       1
306                        OLDHAM       1
307              OPTGROUPUSSTATES       1
308                   PAIJAT-HAME       1
309                    NOTTINGHAM       1
310                        MOSKVA       1
311                CAMBRIDGESHIRE       1
312                  EAST LOTHIAN       1
313                       NAYARIT       1
314                     AL KUWAYT       1
315             RIO GRANDE DO SUL       1
316                    NEW TAIPEI       1
317                    VALPARAISO       1
318                           NBR       1
319                    AL QAHIRAH       1
320                             8       1
321                        ANCASH       1
322                        FALCON       1
323                        DURHAM       1
324                          OSLO       1
325          MYKOLAYIVS KA OBLAST       1
326                       KEELUNG       1
327                         SHIGA       1
328                     SINGAPORE       1
329                      TEL AVIV       1
330                    SANTA CRUZ       1
331                        GUAYAS       1
332                     PORDENONE       1
333                        OAXACA       1
334                            NO       1
335                     LOS LAGOS       1
336                     BARCELONA       1
337            KENTRIKI MAKEDONIA       1
338                        ATTIKI       1
339                           DUR       1
340     FEDERAL CAPITAL TERRITORY       1
341                   DUNDEE CITY       1
342                            JP       1
343                          GIFU       1
344                          RIGA       1
345                    MONTEVIDEO       1
346                     FUKUSHIMA       1
347                      ROGALAND       1
348                         TROMS       1
349                           VER       1
350                     WESTMEATH       1
351                   GRAD ZAGREB       1
352                             1       1
353                        ANKARA       1
354             ZAMBOANGA DEL SUR       1
355                        RIVERS       1
356                    STEIERMARK       1
357                            HK       1
358                    SOUTH WEST       1
359                  YERUSHALAYIM       1
360             CHUNGCHEONGNAM-DO       1
361                      SOMERSET       1
362                      KOSOVSKI       1
363                      ALDERNEY       1
364                      SHIZUOKA       1
365                           SHR       1
366                           ESS       1
367                          LEON       1
368              CIUDAD DE MEXICO       1
369                  WARWICKSHIRE       1
370                       BAGHDAD       1
371                            CH       1
372          SAKHALINSKAYA OBLAST       1
373                   WEST SUSSEX       1
374                       UUSIMAA       1
375                             2       1
376                     RAJASTHAN       1
377                          VAUD       1
378                          BAKU       1
379                       HAINAUT       1
380                       FIRENZE       1
381                         TIMIS       1
382                   VARAZDINSKA       1
383               ALPES-MARITIMES       1
384                         MEKKA       1
385                           NEW       1
386            RABAT-SALE-KENITRA       1
387                  HAUTE-SAVOIE       1
388                    GLASGOW SC       1
389                     HONG KONG       1
390                     NEW SOUTH       1
391                     BUCURESTI       1
392                            23       1
393                    NORTH WEST       1
394                     GATESHEAD       1
395                             7       1
396                 NOORD-BRABANT       1
397                          FARO       1
398             JIHOMORAVSKY KRAJ       1
399                           DIS       1
400           KOSOVSKO-MITROVACKI       1
401              L VIVS KA OBLAST       1
402           WARMINSKO-MAZURSKIE       1
403                             0       1
404                 SOR-TRONDELAG       1
405                           ACT       1
406                         SEOUL       1
407                     ATLANTIDA       1
408                  JAKARTA RAYA       1
409                         CLARE       1
410                            HB       1
411                 HAUTE-GARONNE       1
412                     LUBELSKIE       1
413                           LIN       1
414                  GLASGOW CITY       1
415                  SAN SALVADOR       1
416                       TABASCO       1
417                      ISTANBUL       1
418                       SHIMANE       1
419                        BREMEN       1
420                   ANTOFAGASTA       1
421                           SOM       1
422                   SOUTHAMPTON       1
423                           KYU       1
424                    TAIWAN  PR       1
425                    NORTHAMPTO       1
426                           NTT       1
427                          WIEN       1
428              DONETS KA OBLAST       1
429                       TOTTORI       1
430                           HAM       1
431                           ENG       1
432                            FC       1
433             PERTH AND KINROSS       1
434                           TOK       1
435                    NETHERLAND       1
436                         JILIN       1
437                         ALBER       1
438                       WAIKATO       1
439                         ESSEX       1
440                   SOFIYA-GRAD       1
441                  HEILONGJIANG       1
442                       CENTRAL       1
443                   BEIJING SHI       1
444                    RUSSIAN FE       1
445                      BCCANADA       1
446                     LIVERPOOL       1
447                       WEXFORD       1
448                        INCHON       1
449                         TIROL       1
450                            RJ       1
451                             G       1
452                        VARESE       1
453                    NAGUANAGUA       1
454                   CIUDAD REAL       1
455                         DAKAR       1
456                           BEI       1
457                            34       1
458                   MALOPOLSKIE       1
459                           CHS       1
460                           GYO       1
461                          META       1
462                           LAN       1
463                        VARGAS       1
464                      ALBACETE       1
465                       MOSELLE       1
466                         ON CA       1
467                            IT       1
468                      ALICANTE       1
469                            VE       1
470                            BO       1
471                            GT       1

In [68]:
# Get the counts of each state
state_counts = data['State'].value_counts()

# Function to update state values based on their occurrences
def update_state(state):
    if state not in state_mapping.values():
        return 'OTHERS'
    return state

# Function to group all values that are null as NULL
def update_Nullstate(state):
    if pd.isnull(state):
        return 'NULL'
    return state

# Apply the update function to the 'State' column
data['State'] = data['State'].apply(lambda x: update_state(x) if pd.notnull(x) else x)
data['State'] = data['State'].apply(lambda x: update_Nullstate(x))

# Display the updated state counts
updated_state_counts = data['State'].value_counts().reset_index()
updated_state_counts.columns = ['State', 'Count']
print(updated_state_counts.to_string())

                        State   Count
0                    MICHIGAN  208408
1                        NULL  119835
2                        OHIO   13644
3                     FLORIDA    9242
4                     ONTARIO    8803
5                    NEW YORK    5411
6                  CALIFORNIA    5040
7                    ILLINOIS    5009
8                     INDIANA    3914
9                       TEXAS    3426
10               PENNSYLVANIA    2277
11                   VIRGINIA    1841
12             NORTH CAROLINA    1819
13                    ARIZONA    1676
14                    GEORGIA    1624
15                  TENNESSEE    1505
16              MASSACHUSETTS    1468
17                     OTHERS    1353
18                 NEW JERSEY    1345
19                  WISCONSIN    1193
20                   COLORADO    1118
21                   MARYLAND    1015
22             SOUTH CAROLINA     871
23                   KENTUCKY     865
24                   MISSOURI     861
25                 WASHINGTON     772
26                  MINNESOTA     768
27                     NEVADA     695
28                CONNECTICUT     657
29                    ALABAMA     578
30                       IOWA     444
31                     OREGON     375
32                     KANSAS     367
33                       UTAH     338
34                  LOUISIANA     326
35                   OKLAHOMA     315
36                      MAINE     297
37                   NEBRASKA     280
38                 NEW MEXICO     269
39       DISTRICT OF COLUMBIA     262
40                PUERTO RICO     217
41                   ARKANSAS     211
42              WEST VIRGINIA     202
43                     QUEBEC     186
44                    ALBERTA     186
45              NEW HAMPSHIRE     185
46                   DELAWARE     154
47                MISSISSIPPI     149
48                     HAWAII     142
49                    MONTANA     140
50           BRITISH COLUMBIA     135
51                      IDAHO     133
52                     ALASKA     128
53                    VERMONT     127
54               RHODE ISLAND     123
55               SOUTH DAKOTA      96
56               NORTH DAKOTA      93
57                    WYOMING      88
58                NOVA SCOTIA      53
59               SASKATCHEWAN      52
60                   MANITOBA      46
61              NEW BRUNSWICK      30
62  NEWFOUNDLAND AND LABRADOR      23
63       PRINCE EDWARD ISLAND       8
64                      YUKON       4
65                       GUAM       3
66      NORTHWEST TERRITORIES       2

<h3>Redo sections that analysts did to keep global key present</h3>

<h5>Gender</h5>

In [69]:
#Will create three columns: isMale, isFemale, isNaN based on gender column
#Print values in Gender column
print(data['Gender'].value_counts())
#Create new columns
data['isMale'] = data['Gender'].apply(lambda x: 1 if x == 'Male' else 0)
data['isFemale'] = data['Gender'].apply(lambda x: 1 if x == 'Female' else 0)
#isNan should have all that are not 'Male' or 'Female' or is Null
data['isNaN'] = data['Gender'].apply(lambda x: 1 if pd.isnull(x) else 0)
# Find about 10,000 more non NaN and not Male or Female and lump them into isNaN
non_male_female = data[(data['Gender'] != 'Male') & (data['Gender'] != 'Female') & (pd.notnull(data['Gender']))]
data.loc[non_male_female.index, 'isNaN'] = 1

print(data[['isMale', 'isFemale', 'isNaN']].sum())

# confirm no overlap between isMale, isFemale, and isNaN
# Confirm no overlap between isMale, isFemale, and isNaN
assert data[['isMale', 'isFemale', 'isNaN']].sum().sum() == data.shape[0]

# Ensure the sum of all the columns values equals the number of rows
assert data[['isMale', 'isFemale', 'isNaN']].sum(axis=1).eq(1).all()

Gender
Male         162691
Female        98350
<Unknown>     80088
Name: count, dtype: int64
isMale      162691
isFemale     98350
isNaN       152181
dtype: int64

In [70]:
# Drop the gender column
data.drop(columns=['Gender'], inplace=True)

<h5>Age Redo</h5>

In [71]:
#print columns list
column_types = data.dtypes
for column, dtype in column_types.items():
    print(f"{column}: {dtype}")

KeepFlag: int64
GlobalKey: int64
SeasonKey: int64
FanSinceDate: object
FirstGameAttended: object
TotalGamesAttended: float64
FirstGameBought: object
LastGameBought: object
TotalTicketsPurchased: float64
TotalLifetimeValue: float64
CurrentSeasonEmailActivities: float64
PreviousSeasonsEmailActivities: float64
STMFlagCurr: int64
TicketingFanType: object
EmailFanType: object
FullSeasonBuyer: float64
HalfSeasonBuyer: float64
QuarterSeasonBuyer: float64
MiniPlanBuyer: float64
IndividualGameBuyer: float64
City: object
State: object
PostalCd: object
Country: object
Education: object
Occupation: object
Age: float64
MaritalStatus: object
PresenceOfChildren: object
DwellingType: object
HouseholdIncome: object
NetWorth: object
PrimaryVehicleType: object
MSADescription: object
MailSuppresionFlg: float64
WorkingWomanFlg: float64
BankCardHolderFlg: float64
GasDepartmentRetailCardHolderFlg: float64
TravelEntertainmentCardHolderFlg: float64
CreditCardHolderUnknownTypeFlg: float64
PremiumCardHolderFlg: float64
UpscaleDepartmentStoreCardHolderFlg: float64
MailOrderResponderFlg: float64
TruckOwnerFlg: float64
MotorcycleOwnerFlg: float64
RVOwnerFlg: float64
IntTheatrePerformingArtsFlg: float64
IntArtsFlg: float64
IntDomesticTravelFlg: float64
IntHomeStereosFlg: float64
IntMusicDevicesFlg: float64
IntMusicAvidListenerFlg: float64
IntMusicCollectorFlg: float64
IntMovieCollectorFlg: float64
IntAutoRacingFlg: float64
IntFootballFlg: float64
IntBaseballFlg: float64
IntBasketballFlg: float64
IntHockeyFlg: float64
IntContestsFlg: float64
IntSportsFlg: float64
IntMusicMoviesFlg: float64
IntNascarFlg: float64
IntUpscaleLivingFlg: float64
DistanceToArena: float64
NumberOfAdultsInHousehold: float64
LengthOfResidence: float64
DiscretionaryIncomeIndex: float64
FinancialScore: float64
NumberOfVehicles: float64
Male18to24: float64
Female18to24: float64
Male25to34: float64
Female25to34: float64
Male35to44: float64
Female35to44: float64
Male45to54: float64
Female45to54: float64
Male55to65: float64
Female55to64: float64
Male65to75: float64
Female65to74: float64
Male75up: float64
Female75up: float64
ClientFirstSaleDateKey: float64
VisaCardUserFlg: float64
MasterCardUserFlg: float64
AmexCardUserFlg: float64
DiscoverCardUserFlg: float64
OtherCardUserFlg: float64
ClientWalkUpBuyerFlg: float64
GroupBuyerFlg: float64
ConcertEventFlg: float64
ArtsEventFlg: float64
SportsEventFlg: float64
FamilyEventFlg: float64
HighSpenderFlg: float64
TotalEvents: float64
AvgTicketsPerEvent: float64
TotalSpend: float64
AvgSpendPerEvent: float64
LowestTicketPrice: float64
HighestTicketPrice: float64
AvgDistanceTraveledLocal: float64
SpendPerEventConcerts: float64
SpendPerEventArts: float64
SpendPerEventSports: float64
SpendPerEventFamily: float64
ClusterCode: float64
ClusterDescription: object
GroupCode: float64
GroupDescription: object
OutlierFlg: float64
ModelConfidence: float64
ModelPlanGrade: object
ModelPlanScore: float64
ModelTixPriceGrade: object
ModelTixPriceScore: float64
ModelSeasonSpendGrade: object
ModelSeasonSpendScore: float64
RFMGrade: object
RFMScore: float64
HighPriceBuyerLikelihood: float64
PropnBaseball: float64
PropnBasketball: float64
PropnFootball: float64
PropnHockey: float64
PropnSoccer: float64
PropnAdultContemporary: float64
PropnAltRock: float64
PropnCountry: float64
PropnEDM: float64
PropnMetal: float64
PropnJazzBlues: float64
PropnLatin: float64
PropnUrbanHipHopRap: float64
PropnRnBSoul: float64
PropnRockPop: float64
PropnMusicFestivals: float64
PropnOtherConcerts: float64
PropnBroadwayMusical: float64
PropnComedy: float64
PropnClassicalOpera: float64
PropnTheatrePlays: float64
PropnBalletDance: float64
PropnArtsFestival: float64
PropnMagicShows: float64
PropnOtherArts: float64
PropnCircus: float64
PropnFamilyShows: float64
PropnOtherFamily: float64
PropnBoxing: float64
PropnMMA: float64
PropnWrestling: float64
PropnCollegeBaseball: float64
PropnCollegeBasketball: float64
PropnCollegeFootball: float64
PropnCollegeHockey: float64
PropnMotorsports: float64
PropnRodeo: float64
PropnGolf: float64
PropnTennis: float64
PropnOtherSports: float64
HouseholdEstimateIncome: object
MatchLevelCode: object
MatchLevelDescription: object
ShareOfWalletConcerts: float64
ShareOfWalletArts: float64
ShareOfWalletSports: float64
ShareOfWalletFamily: float64
ShareOfWalletMiscellaneous: float64
PercentOfTransactions1_2Tickets: float64
PercentOfTransactions3_4Tickets: float64
PercentOfTransactions5_8Tickets: float64
PercentOfTransactions9PlusTickets: float64
PercentOfTransactions1_25DollarTickets: float64
PercentOfTransactions26_50DollarTickets: float64
PercentOfTransactions51_100DollarTickets: float64
PercentOfTransactions101_200DollarTickets: float64
PercentOfTransactions201PlusDollarTickets: float64
PercentOfTicketsLowPriceLevel: float64
PercentOfTicketsFairPriceLevel: float64
PercentOfTicketsGoodPriceLevel: float64
PercentOfTicketsVeryGoodPriceLevel: float64
PercentOfTicketsBestPriceLevel: float64
PercentOfTicketsPurchasedPresale: float64
PercentOfTicketsPurchasedFirstDayOnsale: float64
PercentOfTicketsPurchasedFirstWeekOnSale: float64
PercentOfTicketsPurchasedBeforeWeekOfEvent: float64
PercentOfTicketsPurchasedWeekOfEvent: float64
PercentOfTransactionsViaTicketMaster: float64
PercentOfTransactionsViaCallCenter: float64
PercentOfTransactionsViaMobile: float64
PercentOfTransactionsViaBoxOffice: float64
PercentOfTransactionsViaOutlet: float64
isMale: int64
isFemale: int64
isNaN: int64

In [72]:
# print values of data['Age']
print(data['Age'].value_counts())

Age
42.0    13496
44.0    13473
40.0    12886
46.0    12883
52.0    12358
48.0    11952
50.0    11705
38.0    11634
54.0    10951
56.0    10365
36.0    10320
60.0     9902
58.0     9812
62.0     9453
64.0     8981
34.0     8903
32.0     8604
66.0     8177
30.0     7895
28.0     7516
68.0     6966
26.0     6790
24.0     6170
70.0     5882
22.0     5061
72.0     4617
74.0     3702
20.0     3313
76.0     2722
78.0     1553
18.0     1497
80.0     1284
82.0      747
84.0      557
86.0      399
99.0      291
88.0      266
90.0      222
92.0      190
94.0      134
96.0      125
98.0       83
Name: count, dtype: int64

In [73]:
# print how many have null values
print(data['Age'].isnull().sum())

149385

In [74]:
import pandas as pd
from sklearn.cluster import KMeans

# Assuming 'data' is your DataFrame
# Use k-means clustering to fill in missing values for the 'Age' column

# Get the indices of rows with missing 'Age' values
missingAgeIndices = data[data['Age'].isnull()].index

# Get the indices of rows with non-missing 'Age' values
nonMissingAgeIndices = data[data['Age'].notnull()].index

# Create a k-means model with 3 clusters
kmeans = KMeans(n_clusters=3, random_state=0)

# Fit the model on the non-missing 'Age' values
kmeans.fit(data.loc[nonMissingAgeIndices, ['Age']])

# Predict the clusters for all 'Age' values
ageClusters = kmeans.predict(data[['Age']].fillna(0))

# Get the cluster centers
clusterCenters = kmeans.cluster_centers_

# Create a DataFrame to map clusters to their centers
clusterMap = pd.DataFrame(clusterCenters, columns=['Age'])

# Assign the cluster center values to the missing 'Age' values
for idx in missingAgeIndices:
    cluster = ageClusters[idx]
    data.at[idx, 'Age'] = clusterMap.at[cluster, 'Age']

# Now 'data' has the missing 'Age' values filled in using k-means clustering

/home/jbrinkm/IllitchML/venv/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [75]:
# print how many have null values
print(data['Age'].isnull().sum())

0

<h5>DONE!</h5>

<h5>Household Estimate Income</h5>

In [76]:
# call binConvert function from Helpers.py
data = binConvert(data, 'HouseholdIncome')

In [77]:
import importlib
import Helpers
importlib.reload(Helpers)

In [78]:
# validate the conversion
print(getConvertedValues(data, 'HouseholdIncome'))

Index(['HouseholdIncome_7500099999', 'HouseholdIncome_Unknown',
       'HouseholdIncome_5500059999', 'HouseholdIncome_6500074999',
       'HouseholdIncome_5000054999', 'HouseholdIncome_1500019999',
       'HouseholdIncome_3500039999', 'HouseholdIncome_100000149999',
       'HouseholdIncome_3000034999', 'HouseholdIncome_6000064999',
       'HouseholdIncome_2000024999', 'HouseholdIncome_4500049999',
       'HouseholdIncome_250000', 'HouseholdIncome_175000199999',
       'HouseholdIncome_2500029999', 'HouseholdIncome_4000044999',
       'HouseholdIncome_150000174999', 'HouseholdIncome_200000249999',
       'HouseholdIncome_Under10000', 'HouseholdIncome_1000014999'],
      dtype='object')

<h5>Net Worth</h5>

In [79]:
# call binConvert function from Helpers.py
data = binConvert(data, 'NetWorth')

In [80]:
# validate the conversion
print(getConvertedValues(data, 'NetWorth'))

Index(['NetWorth_Greaterthan1999999', 'NetWorth_Unknown',
       'NetWorth_500000999999', 'NetWorth_10000001999999',
       'NetWorth_5000099999', 'NetWorth_250000499999', 'NetWorth_100000249999',
       'NetWorth_1000024999', 'NetWorth_2500049999', 'NetWorth_Lessthan1',
       'NetWorth_14999', 'NetWorth_50009999'],
      dtype='object')

<h5>CurrentSeasonEmailActivities</h5>

In [81]:
print(data['CurrentSeasonEmailActivities'].unique())
print(data['CurrentSeasonEmailActivities'])

[ 15.  nan   1.  12.  20.   0.  39.  19.  41.  21.   4.  24.  11.  31.
  49.  26.   2.  48.   5.  29.  23.  33.  47.  50.  36.  13.   3. 101.
  46.   7.  45.  37.  38.  34.  10.  43.  16.  40.  51.  53.   8.  55.
  35.   9. 100. 191.  58.  28.  56.  27.  44.  18.  30.  25.   6. 103.
  52.  22.  54.  69.  64.  17.  14.  61.  96.  78.  42.  32.  71.  93.
  60. 104.  98.  92.  74. 102.  62.  99.  66.  59.  97.  95.  63.  73.
  65.  57.  89. 135.  94. 110.  82.  87. 137.  75.  80.  72.  70. 109.
 161.  91. 120.  76. 107.  68.  90. 105. 166.  77.  79.  67. 112.  88.
  86. 139. 117. 118. 106.  84. 115. 108. 140.  83. 134.  81. 178.  85.
 149. 127. 116. 143. 129. 122. 123. 111. 154. 138. 131. 124. 128. 126.
 175. 114. 130. 150. 141. 192. 132. 176. 142. 119. 136. 162. 180. 153.
 177. 184. 151. 198. 186. 144. 164. 113. 158. 160. 121. 133. 157. 188.
 173. 196. 146.]
0         15.0
1          NaN
2          1.0
3         12.0
4         20.0
          ...
413217     NaN
413218     NaN
413219     NaN
413220     NaN
413221     NaN
Name: CurrentSeasonEmailActivities, Length: 413222, dtype: float64

Doing nearest neighbor estimate for this

In [82]:
modData = nearestNeighborEstimate(data, ['CurrentSeasonEmailActivities'])
# assert no null values in the column
assert modData['CurrentSeasonEmailActivities'].isnull().sum() == 0
data = modData

In [83]:
print(data['FanSinceDate'].unique())
print(type(data['FanSinceDate']))
# convert to datetime
data['FanSinceDate'] = pd.to_datetime(data['FanSinceDate'], errors='coerce')
print(type(data['FanSinceDate']))
# check for null values
print(data['FanSinceDate'].isnull().sum())
allFanDates = data['FanSinceDate']
print (allFanDates)

['5/1/2009' '2/25/2009' '8/5/2008' ... '2/3/2025' '2/8/2025' '2/9/2025']
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
0
0        2009-05-01
1        2009-02-25
2        2008-08-05
3        2007-06-24
4        2008-08-05
            ...
413217   2025-03-26
413218   2025-03-26
413219   2025-03-26
413220   2025-03-26
413221   2025-03-26
Name: FanSinceDate, Length: 413222, dtype: datetime64[ns]

In [84]:
#reload the Helpers module
import importlib
import Helpers
importlib.reload(Helpers)

In [85]:
data=convertDateToDays(data, 'FanSinceDate')

In [86]:
print(data['FanSinceDate_totalDays'])
# check for null values
print(data['FanSinceDate_totalDays'].isnull().sum())

0         5813
1         5878
2         6082
3         6490
4         6082
          ...
413217       5
413218       5
413219       5
413220       5
413221       5
Name: FanSinceDate_totalDays, Length: 413222, dtype: int64
0

In [90]:
data = binConvert(data, 'GroupDescription')
# validate the conversion
print(getConvertedValues(data, 'GroupDescription'))

Index(['GroupDescription_affluenthouseholds', 'GroupDescription_Unknown',
       'GroupDescription_careeroriented', 'GroupDescription_topwealth',
       'GroupDescription_settlingdown', 'GroupDescription_livingwell',
       'GroupDescription_comfortablehouseholds',
       'GroupDescription_workinghouseholds', 'GroupDescription_solidprestige',
       'GroupDescription_largehouseholds', 'GroupDescription_busyhouseholds',
       'GroupDescription_thriftyandactive', 'GroupDescription_takinghold',
       'GroupDescription_socialconnectors', 'GroupDescription_bargainhunters',
       'GroupDescription_leisureseekers', 'GroupDescription_startingout',
       'GroupDescription_divergingpaths', 'GroupDescription_ruralmetromix',
       'GroupDescription_communityminded',
       'GroupDescription_comfortableindependence',
       'GroupDescription_workingandstudying'],
      dtype='object')

In [ ]:
# HigherSpenderFlag change all null values to 0
data['HighSpenderFlg'].fillna(0, inplace=True)

# columns to change nulls_to_zero
nulls_to_zero = [
    'FullSeasonBuyer', 'HalfSeasonBuyer', 'QuarterSeasonBuyer',
    'MiniPlanBuyer', 'IndividualGameBuyer', 'FamilyEventFlg',
    'TravelEntertainmentCardHolderFlg', ]

# all columns ending in Flg should have nulls changed to 0
for col in data.columns:
    if col.endswith('Flg'):
        nulls_to_zero.append(col)
# change nulls to zero
for col in nulls_to_zero:
    data[col].fillna(0, inplace=True)

In [100]:
print(data[nulls_to_zero].isnull().sum())

FullSeasonBuyer                        0
HalfSeasonBuyer                        0
QuarterSeasonBuyer                     0
MiniPlanBuyer                          0
IndividualGameBuyer                    0
FamilyEventFlg                         0
TravelEntertainmentCardHolderFlg       0
MailSuppresionFlg                      0
WorkingWomanFlg                        0
BankCardHolderFlg                      0
GasDepartmentRetailCardHolderFlg       0
TravelEntertainmentCardHolderFlg       0
CreditCardHolderUnknownTypeFlg         0
PremiumCardHolderFlg                   0
UpscaleDepartmentStoreCardHolderFlg    0
MailOrderResponderFlg                  0
TruckOwnerFlg                          0
MotorcycleOwnerFlg                     0
RVOwnerFlg                             0
IntTheatrePerformingArtsFlg            0
IntArtsFlg                             0
IntDomesticTravelFlg                   0
IntHomeStereosFlg                      0
IntMusicDevicesFlg                     0
IntMusicAvidListenerFlg                0
IntMusicCollectorFlg                   0
IntMovieCollectorFlg                   0
IntAutoRacingFlg                       0
IntFootballFlg                         0
IntBaseballFlg                         0
IntBasketballFlg                       0
IntHockeyFlg                           0
IntContestsFlg                         0
IntSportsFlg                           0
IntMusicMoviesFlg                      0
IntNascarFlg                           0
IntUpscaleLivingFlg                    0
VisaCardUserFlg                        0
MasterCardUserFlg                      0
AmexCardUserFlg                        0
DiscoverCardUserFlg                    0
OtherCardUserFlg                       0
ClientWalkUpBuyerFlg                   0
GroupBuyerFlg                          0
ConcertEventFlg                        0
ArtsEventFlg                           0
SportsEventFlg                         0
FamilyEventFlg                         0
HighSpenderFlg                         0
OutlierFlg                             0
dtype: int64

In [102]:
# pint out all columns with null values
null_columns = data.columns[data.isnull().any()].tolist()
print("Columns with null values:")
print(null_columns)
print(data[null_columns].isnull().sum())

Columns with null values:
['FirstGameAttended', 'TotalGamesAttended', 'FirstGameBought', 'LastGameBought', 'TotalTicketsPurchased', 'TotalLifetimeValue', 'PreviousSeasonsEmailActivities', 'City', 'PostalCd', 'Country', 'Education', 'Occupation', 'MaritalStatus', 'PresenceOfChildren', 'DwellingType', 'PrimaryVehicleType', 'MSADescription', 'DistanceToArena', 'NumberOfAdultsInHousehold', 'LengthOfResidence', 'DiscretionaryIncomeIndex', 'FinancialScore', 'NumberOfVehicles', 'Male18to24', 'Female18to24', 'Male25to34', 'Female25to34', 'Male35to44', 'Female35to44', 'Male45to54', 'Female45to54', 'Male55to65', 'Female55to64', 'Male65to75', 'Female65to74', 'Male75up', 'Female75up', 'ClientFirstSaleDateKey', 'TotalEvents', 'AvgTicketsPerEvent', 'TotalSpend', 'AvgSpendPerEvent', 'LowestTicketPrice', 'HighestTicketPrice', 'AvgDistanceTraveledLocal', 'SpendPerEventConcerts', 'SpendPerEventArts', 'SpendPerEventSports', 'SpendPerEventFamily', 'ClusterCode', 'ClusterDescription', 'GroupCode', 'ModelConfidence', 'ModelPlanGrade', 'ModelPlanScore', 'ModelTixPriceGrade', 'ModelTixPriceScore', 'ModelSeasonSpendGrade', 'ModelSeasonSpendScore', 'RFMGrade', 'RFMScore', 'HighPriceBuyerLikelihood', 'PropnBaseball', 'PropnBasketball', 'PropnFootball', 'PropnHockey', 'PropnSoccer', 'PropnAdultContemporary', 'PropnAltRock', 'PropnCountry', 'PropnEDM', 'PropnMetal', 'PropnJazzBlues', 'PropnLatin', 'PropnUrbanHipHopRap', 'PropnRnBSoul', 'PropnRockPop', 'PropnMusicFestivals', 'PropnOtherConcerts', 'PropnBroadwayMusical', 'PropnComedy', 'PropnClassicalOpera', 'PropnTheatrePlays', 'PropnBalletDance', 'PropnArtsFestival', 'PropnMagicShows', 'PropnOtherArts', 'PropnCircus', 'PropnFamilyShows', 'PropnOtherFamily', 'PropnBoxing', 'PropnMMA', 'PropnWrestling', 'PropnCollegeBaseball', 'PropnCollegeBasketball', 'PropnCollegeFootball', 'PropnCollegeHockey', 'PropnMotorsports', 'PropnRodeo', 'PropnGolf', 'PropnTennis', 'PropnOtherSports', 'HouseholdEstimateIncome', 'MatchLevelCode', 'MatchLevelDescription', 'ShareOfWalletConcerts', 'ShareOfWalletArts', 'ShareOfWalletSports', 'ShareOfWalletFamily', 'ShareOfWalletMiscellaneous', 'PercentOfTransactions1_2Tickets', 'PercentOfTransactions3_4Tickets', 'PercentOfTransactions5_8Tickets', 'PercentOfTransactions9PlusTickets', 'PercentOfTransactions1_25DollarTickets', 'PercentOfTransactions26_50DollarTickets', 'PercentOfTransactions51_100DollarTickets', 'PercentOfTransactions101_200DollarTickets', 'PercentOfTransactions201PlusDollarTickets', 'PercentOfTicketsLowPriceLevel', 'PercentOfTicketsFairPriceLevel', 'PercentOfTicketsGoodPriceLevel', 'PercentOfTicketsVeryGoodPriceLevel', 'PercentOfTicketsBestPriceLevel', 'PercentOfTicketsPurchasedPresale', 'PercentOfTicketsPurchasedFirstDayOnsale', 'PercentOfTicketsPurchasedFirstWeekOnSale', 'PercentOfTicketsPurchasedBeforeWeekOfEvent', 'PercentOfTicketsPurchasedWeekOfEvent', 'PercentOfTransactionsViaTicketMaster', 'PercentOfTransactionsViaCallCenter', 'PercentOfTransactionsViaMobile', 'PercentOfTransactionsViaBoxOffice', 'PercentOfTransactionsViaOutlet']
FirstGameAttended                       153344
TotalGamesAttended                      153344
FirstGameBought                         229552
LastGameBought                          229552
TotalTicketsPurchased                   229552
                                         ...
PercentOfTransactionsViaTicketMaster    185381
PercentOfTransactionsViaCallCenter      185381
PercentOfTransactionsViaMobile          185381
PercentOfTransactionsViaBoxOffice       185381
PercentOfTransactionsViaOutlet          185381
Length: 134, dtype: int64

In [104]:
# make sure flag columns are of type int
flag_columns = [col for col in data.columns if col.endswith('Flg')]
for col in flag_columns:
    data[col] = data[col].astype(int)
# check the types of all columns
column_types = data.dtypes
for column, dtype in column_types.items():
    print(f"{column}: {dtype}")

KeepFlag: int64
GlobalKey: int64
SeasonKey: int64
FirstGameAttended: object
TotalGamesAttended: float64
FirstGameBought: object
LastGameBought: object
TotalTicketsPurchased: float64
TotalLifetimeValue: float64
CurrentSeasonEmailActivities: float64
PreviousSeasonsEmailActivities: float64
STMFlagCurr: int64
TicketingFanType: object
EmailFanType: object
FullSeasonBuyer: float64
HalfSeasonBuyer: float64
QuarterSeasonBuyer: float64
MiniPlanBuyer: float64
IndividualGameBuyer: float64
City: object
State: object
PostalCd: object
Country: object
Education: object
Occupation: object
Age: float64
MaritalStatus: object
PresenceOfChildren: object
DwellingType: object
PrimaryVehicleType: object
MSADescription: object
MailSuppresionFlg: int64
WorkingWomanFlg: int64
BankCardHolderFlg: int64
GasDepartmentRetailCardHolderFlg: int64
TravelEntertainmentCardHolderFlg: int64
CreditCardHolderUnknownTypeFlg: int64
PremiumCardHolderFlg: int64
UpscaleDepartmentStoreCardHolderFlg: int64
MailOrderResponderFlg: int64
TruckOwnerFlg: int64
MotorcycleOwnerFlg: int64
RVOwnerFlg: int64
IntTheatrePerformingArtsFlg: int64
IntArtsFlg: int64
IntDomesticTravelFlg: int64
IntHomeStereosFlg: int64
IntMusicDevicesFlg: int64
IntMusicAvidListenerFlg: int64
IntMusicCollectorFlg: int64
IntMovieCollectorFlg: int64
IntAutoRacingFlg: int64
IntFootballFlg: int64
IntBaseballFlg: int64
IntBasketballFlg: int64
IntHockeyFlg: int64
IntContestsFlg: int64
IntSportsFlg: int64
IntMusicMoviesFlg: int64
IntNascarFlg: int64
IntUpscaleLivingFlg: int64
DistanceToArena: float64
NumberOfAdultsInHousehold: float64
LengthOfResidence: float64
DiscretionaryIncomeIndex: float64
FinancialScore: float64
NumberOfVehicles: float64
Male18to24: float64
Female18to24: float64
Male25to34: float64
Female25to34: float64
Male35to44: float64
Female35to44: float64
Male45to54: float64
Female45to54: float64
Male55to65: float64
Female55to64: float64
Male65to75: float64
Female65to74: float64
Male75up: float64
Female75up: float64
ClientFirstSaleDateKey: float64
VisaCardUserFlg: int64
MasterCardUserFlg: int64
AmexCardUserFlg: int64
DiscoverCardUserFlg: int64
OtherCardUserFlg: int64
ClientWalkUpBuyerFlg: int64
GroupBuyerFlg: int64
ConcertEventFlg: int64
ArtsEventFlg: int64
SportsEventFlg: int64
FamilyEventFlg: int64
HighSpenderFlg: int64
TotalEvents: float64
AvgTicketsPerEvent: float64
TotalSpend: float64
AvgSpendPerEvent: float64
LowestTicketPrice: float64
HighestTicketPrice: float64
AvgDistanceTraveledLocal: float64
SpendPerEventConcerts: float64
SpendPerEventArts: float64
SpendPerEventSports: float64
SpendPerEventFamily: float64
ClusterCode: float64
ClusterDescription: object
GroupCode: float64
OutlierFlg: int64
ModelConfidence: float64
ModelPlanGrade: object
ModelPlanScore: float64
ModelTixPriceGrade: object
ModelTixPriceScore: float64
ModelSeasonSpendGrade: object
ModelSeasonSpendScore: float64
RFMGrade: object
RFMScore: float64
HighPriceBuyerLikelihood: float64
PropnBaseball: float64
PropnBasketball: float64
PropnFootball: float64
PropnHockey: float64
PropnSoccer: float64
PropnAdultContemporary: float64
PropnAltRock: float64
PropnCountry: float64
PropnEDM: float64
PropnMetal: float64
PropnJazzBlues: float64
PropnLatin: float64
PropnUrbanHipHopRap: float64
PropnRnBSoul: float64
PropnRockPop: float64
PropnMusicFestivals: float64
PropnOtherConcerts: float64
PropnBroadwayMusical: float64
PropnComedy: float64
PropnClassicalOpera: float64
PropnTheatrePlays: float64
PropnBalletDance: float64
PropnArtsFestival: float64
PropnMagicShows: float64
PropnOtherArts: float64
PropnCircus: float64
PropnFamilyShows: float64
PropnOtherFamily: float64
PropnBoxing: float64
PropnMMA: float64
PropnWrestling: float64
PropnCollegeBaseball: float64
PropnCollegeBasketball: float64
PropnCollegeFootball: float64
PropnCollegeHockey: float64
PropnMotorsports: float64
PropnRodeo: float64
PropnGolf: float64
PropnTennis: float64
PropnOtherSports: float64
HouseholdEstimateIncome: object
MatchLevelCode: object
MatchLevelDescription: object
ShareOfWalletConcerts: float64
ShareOfWalletArts: float64
ShareOfWalletSports: float64
ShareOfWalletFamily: float64
ShareOfWalletMiscellaneous: float64
PercentOfTransactions1_2Tickets: float64
PercentOfTransactions3_4Tickets: float64
PercentOfTransactions5_8Tickets: float64
PercentOfTransactions9PlusTickets: float64
PercentOfTransactions1_25DollarTickets: float64
PercentOfTransactions26_50DollarTickets: float64
PercentOfTransactions51_100DollarTickets: float64
PercentOfTransactions101_200DollarTickets: float64
PercentOfTransactions201PlusDollarTickets: float64
PercentOfTicketsLowPriceLevel: float64
PercentOfTicketsFairPriceLevel: float64
PercentOfTicketsGoodPriceLevel: float64
PercentOfTicketsVeryGoodPriceLevel: float64
PercentOfTicketsBestPriceLevel: float64
PercentOfTicketsPurchasedPresale: float64
PercentOfTicketsPurchasedFirstDayOnsale: float64
PercentOfTicketsPurchasedFirstWeekOnSale: float64
PercentOfTicketsPurchasedBeforeWeekOfEvent: float64
PercentOfTicketsPurchasedWeekOfEvent: float64
PercentOfTransactionsViaTicketMaster: float64
PercentOfTransactionsViaCallCenter: float64
PercentOfTransactionsViaMobile: float64
PercentOfTransactionsViaBoxOffice: float64
PercentOfTransactionsViaOutlet: float64
isMale: int64
isFemale: int64
isNaN: int64
HouseholdIncome_7500099999: int64
HouseholdIncome_Unknown: int64
HouseholdIncome_5500059999: int64
HouseholdIncome_6500074999: int64
HouseholdIncome_5000054999: int64
HouseholdIncome_1500019999: int64
HouseholdIncome_3500039999: int64
HouseholdIncome_100000149999: int64
HouseholdIncome_3000034999: int64
HouseholdIncome_6000064999: int64
HouseholdIncome_2000024999: int64
HouseholdIncome_4500049999: int64
HouseholdIncome_250000: int64
HouseholdIncome_175000199999: int64
HouseholdIncome_2500029999: int64
HouseholdIncome_4000044999: int64
HouseholdIncome_150000174999: int64
HouseholdIncome_200000249999: int64
HouseholdIncome_Under10000: int64
HouseholdIncome_1000014999: int64
NetWorth_Greaterthan1999999: int64
NetWorth_Unknown: int64
NetWorth_500000999999: int64
NetWorth_10000001999999: int64
NetWorth_5000099999: int64
NetWorth_250000499999: int64
NetWorth_100000249999: int64
NetWorth_1000024999: int64
NetWorth_2500049999: int64
NetWorth_Lessthan1: int64
NetWorth_14999: int64
NetWorth_50009999: int64
FanSinceDate_totalDays: int64
GroupDescription_affluenthouseholds: int64
GroupDescription_Unknown: int64
GroupDescription_careeroriented: int64
GroupDescription_topwealth: int64
GroupDescription_settlingdown: int64
GroupDescription_livingwell: int64
GroupDescription_comfortablehouseholds: int64
GroupDescription_workinghouseholds: int64
GroupDescription_solidprestige: int64
GroupDescription_largehouseholds: int64
GroupDescription_busyhouseholds: int64
GroupDescription_thriftyandactive: int64
GroupDescription_takinghold: int64
GroupDescription_socialconnectors: int64
GroupDescription_bargainhunters: int64
GroupDescription_leisureseekers: int64
GroupDescription_startingout: int64
GroupDescription_divergingpaths: int64
GroupDescription_ruralmetromix: int64
GroupDescription_communityminded: int64
GroupDescription_comfortableindependence: int64
GroupDescription_workingandstudying: int64

In [ ]:
# drop shit columns
shittyCols = ['ClusterDescription', 'ClusterCode', 'ClientWalkUpBuyerFlg',
              'PrimaryVehicleType', ]

In [ ]:
# Check for NaN values in the 'ClusterCode' column and count them
na_count = data['ClusterCode'].isna().sum()

# Print the count of NaN values
print(f"Number of NaN values in 'ClusterCode': {na_count}")

# print unique values
print(data['ClusterCode'].unique())

Number of NaN values in 'ClusterCode': 72093
[ 1. nan 26.  3. 34. 23. 17. 38.  5. 12. 13. 37.  6.  0.  2. 57.  4.  8.
 14. 40. 30. 11. 19. 59. 44. 62. 51.  7. 16. 31. 10. 47. 43. 25.  9. 27.
 35. 20. 15. 22. 36. 33. 39. 24. 63. 55. 28. 21. 60. 42. 49. 48. 53. 46.
 52. 45. 50. 54. 32. 69. 18. 41. 56. 68. 64. 71. 66. 29. 65. 61. 67. 58.
 70. 72.]

<h1>Save work to TigersCleaned.csv</h1>

In [87]:
#save work to a new csv file
data.to_csv('data/TigersCleaned.csv', index=False)

<h5>Cluster Analysis w/5 clusters</h5>

In [88]:
# print all columns with NaN values
nan_columns = data.columns[data.isnull().any()]
# print the name of the columns with NaN values
for nanCol in nan_columns:
    print(nanCol)

FirstGameAttended
TotalGamesAttended
FirstGameBought
LastGameBought
TotalTicketsPurchased
TotalLifetimeValue
PreviousSeasonsEmailActivities
FullSeasonBuyer
HalfSeasonBuyer
QuarterSeasonBuyer
MiniPlanBuyer
IndividualGameBuyer
City
PostalCd
Country
Education
Occupation
MaritalStatus
PresenceOfChildren
DwellingType
PrimaryVehicleType
MSADescription
MailSuppresionFlg
WorkingWomanFlg
BankCardHolderFlg
GasDepartmentRetailCardHolderFlg
TravelEntertainmentCardHolderFlg
CreditCardHolderUnknownTypeFlg
PremiumCardHolderFlg
UpscaleDepartmentStoreCardHolderFlg
MailOrderResponderFlg
TruckOwnerFlg
MotorcycleOwnerFlg
RVOwnerFlg
IntTheatrePerformingArtsFlg
IntArtsFlg
IntDomesticTravelFlg
IntHomeStereosFlg
IntMusicDevicesFlg
IntMusicAvidListenerFlg
IntMusicCollectorFlg
IntMovieCollectorFlg
IntAutoRacingFlg
IntFootballFlg
IntBaseballFlg
IntBasketballFlg
IntHockeyFlg
IntContestsFlg
IntSportsFlg
IntMusicMoviesFlg
IntNascarFlg
IntUpscaleLivingFlg
DistanceToArena
NumberOfAdultsInHousehold
LengthOfResidence
DiscretionaryIncomeIndex
FinancialScore
NumberOfVehicles
Male18to24
Female18to24
Male25to34
Female25to34
Male35to44
Female35to44
Male45to54
Female45to54
Male55to65
Female55to64
Male65to75
Female65to74
Male75up
Female75up
ClientFirstSaleDateKey
VisaCardUserFlg
MasterCardUserFlg
AmexCardUserFlg
DiscoverCardUserFlg
OtherCardUserFlg
ClientWalkUpBuyerFlg
GroupBuyerFlg
ConcertEventFlg
ArtsEventFlg
SportsEventFlg
FamilyEventFlg
HighSpenderFlg
TotalEvents
AvgTicketsPerEvent
TotalSpend
AvgSpendPerEvent
LowestTicketPrice
HighestTicketPrice
AvgDistanceTraveledLocal
SpendPerEventConcerts
SpendPerEventArts
SpendPerEventSports
SpendPerEventFamily
ClusterCode
ClusterDescription
GroupCode
GroupDescription
OutlierFlg
ModelConfidence
ModelPlanGrade
ModelPlanScore
ModelTixPriceGrade
ModelTixPriceScore
ModelSeasonSpendGrade
ModelSeasonSpendScore
RFMGrade
RFMScore
HighPriceBuyerLikelihood
PropnBaseball
PropnBasketball
PropnFootball
PropnHockey
PropnSoccer
PropnAdultContemporary
PropnAltRock
PropnCountry
PropnEDM
PropnMetal
PropnJazzBlues
PropnLatin
PropnUrbanHipHopRap
PropnRnBSoul
PropnRockPop
PropnMusicFestivals
PropnOtherConcerts
PropnBroadwayMusical
PropnComedy
PropnClassicalOpera
PropnTheatrePlays
PropnBalletDance
PropnArtsFestival
PropnMagicShows
PropnOtherArts
PropnCircus
PropnFamilyShows
PropnOtherFamily
PropnBoxing
PropnMMA
PropnWrestling
PropnCollegeBaseball
PropnCollegeBasketball
PropnCollegeFootball
PropnCollegeHockey
PropnMotorsports
PropnRodeo
PropnGolf
PropnTennis
PropnOtherSports
HouseholdEstimateIncome
MatchLevelCode
MatchLevelDescription
ShareOfWalletConcerts
ShareOfWalletArts
ShareOfWalletSports
ShareOfWalletFamily
ShareOfWalletMiscellaneous
PercentOfTransactions1_2Tickets
PercentOfTransactions3_4Tickets
PercentOfTransactions5_8Tickets
PercentOfTransactions9PlusTickets
PercentOfTransactions1_25DollarTickets
PercentOfTransactions26_50DollarTickets
PercentOfTransactions51_100DollarTickets
PercentOfTransactions101_200DollarTickets
PercentOfTransactions201PlusDollarTickets
PercentOfTicketsLowPriceLevel
PercentOfTicketsFairPriceLevel
PercentOfTicketsGoodPriceLevel
PercentOfTicketsVeryGoodPriceLevel
PercentOfTicketsBestPriceLevel
PercentOfTicketsPurchasedPresale
PercentOfTicketsPurchasedFirstDayOnsale
PercentOfTicketsPurchasedFirstWeekOnSale
PercentOfTicketsPurchasedBeforeWeekOfEvent
PercentOfTicketsPurchasedWeekOfEvent
PercentOfTransactionsViaTicketMaster
PercentOfTransactionsViaCallCenter
PercentOfTransactionsViaMobile
PercentOfTransactionsViaBoxOffice
PercentOfTransactionsViaOutlet

In [89]:
import pandas as pd
from sklearn.mixture import GaussianMixture

# Assuming 'data' is your DataFrame

# Create a Gaussian Mixture Model with 5 components (clusters)
gmm = GaussianMixture(n_components=5, random_state=0)

# Fit the model on the entire dataset (excluding any non-numeric columns)
gmm.fit(data_clean.select_dtypes(include=[float, int]))

# Predict the clusters for all data points
data_clean['Cluster'] = gmm.predict(data_clean.select_dtypes(include=[float, int]))

# Get the cluster centers (means of the Gaussian components)
clusterCenters = gmm.means_

# Create a DataFrame to map clusters to their centers
clusterMap = pd.DataFrame(clusterCenters, columns=data_clean.select_dtypes(include=[float, int]).columns)

# Now 'data' has an additional 'Cluster' column indicating the cluster each data point belongs to

NameError: name 'data_clean' is not defined