<h1>Notebook to clean the Tigers Data Set</h1>
<p>data/DTIFanData_2-21-25.csv will be cleaned</p>

<h3>Dependencies</h3>

In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
# import Helpers from Helpers.py which is in same directory
from Helpers import *

<h3>Load the dataset</h3>

In [60]:
path = 'data/DTIFanData_2-21-25.csv'
# Load the data
data = pd.read_csv(path)
# Display the first few rows of the dataframe
print(data.head())

/tmp/ipykernel_1457/3605361889.py:3: DtypeWarning: Columns (4,6,7,165) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path)

   KeepFlag  GlobalKey  SeasonKey FanSinceDate  \
0         1         11       2025   2009-05-01
1         1         12       2025   2009-02-25
2         1         15       2025   2008-08-05
3         1         17       2025   2007-06-24
4         1         19       2025   2008-08-05

                  FirstGameAttended  TotalGamesAttended  \
0         2023-08-05 Tampa Bay Rays                 4.0
1  2024-06-25 Philadelphia Phillies                 1.0
2     2013-06-27 Los Angeles Angels                 6.0
3      2015-07-05 Toronto Blue Jays                 9.0
4          2013-07-14 Texas Rangers                 1.0

                    FirstGameBought                    LastGameBought  \
0         2023-08-05 Tampa Bay Rays  2024-06-26 Philadelphia Phillies
1  2024-06-25 Philadelphia Phillies  2024-06-25 Philadelphia Phillies
2       2021-06-08 Seattle Mariners       2021-06-08 Seattle Mariners
3  2021-06-26 Houston Astros Game 2      2024-09-29 Chicago White Sox
4                               NaN                               NaN

   TotalTicketsPurchased  TotalLifetimeValue  ...  \
0                   15.0              308.00  ...
1                    6.0              114.00  ...
2                    1.0               35.00  ...
3                   28.0             1268.04  ...
4                    NaN                 NaN  ...

   PercentOfTicketsPurchasedPresale  PercentOfTicketsPurchasedFirstDayOnsale  \
0                              0.00                                     0.00
1                               NaN                                      NaN
2                               NaN                                      NaN
3                              0.62                                     0.25
4                              0.00                                     0.00

   PercentOfTicketsPurchasedFirstWeekOnSale  \
0                                       0.0
1                                       NaN
2                                       NaN
3                                       0.0
4                                       0.5

  PercentOfTicketsPurchasedBeforeWeekOfEvent  \
0                                       0.86
1                                        NaN
2                                        NaN
3                                       0.12
4                                       0.50

  PercentOfTicketsPurchasedWeekOfEvent  PercentOfTransactionsViaTicketMaster  \
0                                 0.14                                  0.86
1                                  NaN                                   NaN
2                                  NaN                                   NaN
3                                 0.00                                  0.88
4                                 0.00                                  0.00

   PercentOfTransactionsViaCallCenter  PercentOfTransactionsViaMobile  \
0                                 0.0                            0.14
1                                 NaN                             NaN
2                                 NaN                             NaN
3                                 0.0                            0.12
4                                 0.0                            1.00

   PercentOfTransactionsViaBoxOffice  PercentOfTransactionsViaOutlet
0                                0.0                             0.0
1                                NaN                             NaN
2                                NaN                             NaN
3                                0.0                             0.0
4                                0.0                             0.0

[5 rows x 196 columns]

In [61]:
# Function to check for type errors in columns
def check_type_errors(df):
    type_errors = {}
    for column in df.columns:
        try:
            df[column].astype(df[column].dtype)
        except ValueError as e:
            type_errors[column] = str(e)
    return type_errors

# Check for type errors in the data
type_errors = check_type_errors(data)
print("Columns with type errors:", type_errors)

Columns with type errors: {}

In [62]:
# Get the data types of all columns
column_types = data.dtypes
for column, dtype in column_types.items():
    print(f"{column}: {dtype}")

KeepFlag: int64
GlobalKey: int64
SeasonKey: int64
FanSinceDate: object
FirstGameAttended: object
TotalGamesAttended: float64
FirstGameBought: object
LastGameBought: object
TotalTicketsPurchased: float64
TotalLifetimeValue: float64
CurrentSeasonEmailActivities: float64
PreviousSeasonsEmailActivities: float64
STMFlagCurr: int64
TicketingFanType: object
EmailFanType: object
FullSeasonBuyer: float64
HalfSeasonBuyer: float64
QuarterSeasonBuyer: float64
MiniPlanBuyer: float64
IndividualGameBuyer: float64
City: object
State: object
PostalCd: object
Country: object
Gender: object
Education: object
Occupation: object
Age: float64
MaritalStatus: object
PresenceOfChildren: object
DwellingType: object
HouseholdIncome: object
NetWorth: object
PrimaryVehicleType: object
MSADescription: object
MailSuppresionFlg: float64
WorkingWomanFlg: float64
BankCardHolderFlg: float64
GasDepartmentRetailCardHolderFlg: float64
TravelEntertainmentCardHolderFlg: float64
CreditCardHolderUnknownTypeFlg: float64
PremiumCardHolderFlg: float64
UpscaleDepartmentStoreCardHolderFlg: float64
MailOrderResponderFlg: float64
TruckOwnerFlg: float64
MotorcycleOwnerFlg: float64
RVOwnerFlg: float64
IntTheatrePerformingArtsFlg: float64
IntArtsFlg: float64
IntDomesticTravelFlg: float64
IntHomeStereosFlg: float64
IntMusicDevicesFlg: float64
IntMusicAvidListenerFlg: float64
IntMusicCollectorFlg: float64
IntMovieCollectorFlg: float64
IntAutoRacingFlg: float64
IntFootballFlg: float64
IntBaseballFlg: float64
IntBasketballFlg: float64
IntHockeyFlg: float64
IntContestsFlg: float64
IntSportsFlg: float64
IntMusicMoviesFlg: float64
IntNascarFlg: float64
IntUpscaleLivingFlg: float64
DistanceToArena: float64
NumberOfAdultsInHousehold: float64
LengthOfResidence: float64
DiscretionaryIncomeIndex: float64
FinancialScore: float64
NumberOfVehicles: float64
Male18to24: float64
Female18to24: float64
Male25to34: float64
Female25to34: float64
Male35to44: float64
Female35to44: float64
Male45to54: float64
Female45to54: float64
Male55to65: float64
Female55to64: float64
Male65to75: float64
Female65to74: float64
Male75up: float64
Female75up: float64
ClientFirstSaleDateKey: float64
VisaCardUserFlg: float64
MasterCardUserFlg: float64
AmexCardUserFlg: float64
DiscoverCardUserFlg: float64
OtherCardUserFlg: float64
ClientWalkUpBuyerFlg: float64
GroupBuyerFlg: float64
ConcertEventFlg: float64
ArtsEventFlg: float64
SportsEventFlg: float64
FamilyEventFlg: float64
HighSpenderFlg: float64
TotalEvents: float64
AvgTicketsPerEvent: float64
TotalSpend: float64
AvgSpendPerEvent: float64
LowestTicketPrice: float64
HighestTicketPrice: float64
AvgDistanceTraveledLocal: float64
SpendPerEventConcerts: float64
SpendPerEventArts: float64
SpendPerEventSports: float64
SpendPerEventFamily: float64
ClusterCode: float64
ClusterDescription: object
GroupCode: float64
GroupDescription: object
OutlierFlg: float64
ModelConfidence: float64
ModelPlanGrade: object
ModelPlanScore: float64
ModelTixPriceGrade: object
ModelTixPriceScore: float64
ModelSeasonSpendGrade: object
ModelSeasonSpendScore: float64
RFMGrade: object
RFMScore: float64
HighPriceBuyerLikelihood: float64
PropnBaseball: float64
PropnBasketball: float64
PropnFootball: float64
PropnHockey: float64
PropnSoccer: float64
PropnAdultContemporary: float64
PropnAltRock: float64
PropnCountry: float64
PropnEDM: float64
PropnMetal: float64
PropnJazzBlues: float64
PropnLatin: float64
PropnUrbanHipHopRap: float64
PropnRnBSoul: float64
PropnRockPop: float64
PropnMusicFestivals: float64
PropnOtherConcerts: float64
PropnBroadwayMusical: float64
PropnComedy: float64
PropnClassicalOpera: float64
PropnTheatrePlays: float64
PropnBalletDance: float64
PropnArtsFestival: float64
PropnMagicShows: float64
PropnOtherArts: float64
PropnCircus: float64
PropnFamilyShows: float64
PropnOtherFamily: float64
PropnBoxing: float64
PropnMMA: float64
PropnWrestling: float64
PropnCollegeBaseball: float64
PropnCollegeBasketball: float64
PropnCollegeFootball: float64
PropnCollegeHockey: float64
PropnMotorsports: float64
PropnRodeo: float64
PropnGolf: float64
PropnTennis: float64
PropnOtherSports: float64
HouseholdEstimateIncome: object
MatchLevelCode: object
MatchLevelDescription: object
ShareOfWalletConcerts: float64
ShareOfWalletArts: float64
ShareOfWalletSports: float64
ShareOfWalletFamily: float64
ShareOfWalletMiscellaneous: float64
PercentOfTransactions1_2Tickets: float64
PercentOfTransactions3_4Tickets: float64
PercentOfTransactions5_8Tickets: float64
PercentOfTransactions9PlusTickets: float64
PercentOfTransactions1_25DollarTickets: float64
PercentOfTransactions26_50DollarTickets: float64
PercentOfTransactions51_100DollarTickets: float64
PercentOfTransactions101_200DollarTickets: float64
PercentOfTransactions201PlusDollarTickets: float64
PercentOfTicketsLowPriceLevel: float64
PercentOfTicketsFairPriceLevel: float64
PercentOfTicketsGoodPriceLevel: float64
PercentOfTicketsVeryGoodPriceLevel: float64
PercentOfTicketsBestPriceLevel: float64
PercentOfTicketsPurchasedPresale: float64
PercentOfTicketsPurchasedFirstDayOnsale: float64
PercentOfTicketsPurchasedFirstWeekOnSale: float64
PercentOfTicketsPurchasedBeforeWeekOfEvent: float64
PercentOfTicketsPurchasedWeekOfEvent: float64
PercentOfTransactionsViaTicketMaster: float64
PercentOfTransactionsViaCallCenter: float64
PercentOfTransactionsViaMobile: float64
PercentOfTransactionsViaBoxOffice: float64
PercentOfTransactionsViaOutlet: float64

<h3>Cleaning State Values</h3>
<p>Keep states, provinces, and territories in US and Canada</p>
<p>Other locations will be put in 'OTHERS' category

In [63]:
state_counts = data['State'].value_counts()
state_counts = state_counts.reset_index()
state_counts.columns = ['State', 'Count']
print(state_counts.to_string())

                            State   Count
0                              MI  198554
1                              OH   11709
2                              ON    7507
3                        MICHIGAN    6377
4                              FL    6121
5                              NY    4368
6                              CA    3742
7                              IL    3582
8                              IN    3166
9                              TX    2537
10                        FLORIDA    1762
11                           OHIO    1703
12                             PA    1691
13                       ILLINOIS    1310
14                             MA    1262
15                             NC    1234
16                             VA    1229
17                             AZ    1188
18                             GA    1173
19                     CALIFORNIA    1160
20                        ONTARIO    1154
21                             TN    1036
22                             NJ    1014
23                             WI     886
24                          TEXAS     822
25                             CO     763
26                             MD     720
27                        INDIANA     661
28                       NEW YORK     645
29                             MO     642
30                             KY     641
31                             SC     570
32                       VIRGINIA     549
33                             MN     542
34                             WA     526
35                             CT     502
36                 NORTH CAROLINA     498
37                             NV     483
38                        ARIZONA     468
39                   PENNSYLVANIA     461
40                             AL     433
41                      TENNESSEE     423
42                        GEORGIA     389
43                             IA     327
44                       COLORADO     321
45                             KS     277
46                      WISCONSIN     272
47                     NEW JERSEY     271
48                             ME     257
49                 SOUTH CAROLINA     251
50                       MARYLAND     248
51                             OR     241
52                     WASHINGTON     233
53                             OK     226
54                             LA     220
55                             NE     214
56                             PR     213
57                             UT     213
58                       MISSOURI     205
59                         NEVADA     203
60                       KENTUCKY     200
61                      MINNESOTA     196
62                             DC     185
63                  MASSACHUSETTS     168
64                             AR     154
65                             QC     146
66                             NH     145
67                             WV     138
68                    CONNECTICUT     137
69                           NONE     135
70                             NM     130
71                     NEW MEXICO     128
72                             AB     125
73                           UTAH     120
74                         OREGON     119
75                        ALABAMA     114
76                             DE     109
77                             MS     108
78                  NON-US NON-CA     104
79                             VT     102
80                             MT     102
81                             ID      99
82                             HI      97
83                           IOWA      97
84                      LOUISIANA      94
85                             RI      91
86                             AK      88
87                             BC      81
88                         KANSAS      78
89                       OKLAHOMA      77
90                             AE      70
91                             SD      70
92               DISTRITO CAPITAL      69
93           DISTRICT OF COLUMBIA      68
94                             ND      67
95                             WY      62
96                        ALBERTA      60
97                       NEBRASKA      58
98               BRITISH COLUMBIA      54
99                       ARKANSAS      54
100                 WEST VIRGINIA      45
101                        HAWAII      43
102                        QUEBEC      42
103                            NS      42
104                GREATER LONDON      39
105                   MISSISSIPPI      39
106                       MONTANA      37
107                        ALASKA      36
108                            SK      35
109                         IDAHO      33
110                         MAINE      31
111                      DELAWARE      30
112                            AA      30
113                 NEW HAMPSHIRE      28
114                       MIRANDA      26
115                  RHODE ISLAND      24
116                  SOUTH DAKOTA      24
117                       VERMONT      24
118                            MB      24
119                  NORTH DAKOTA      23
120                       WYOMING      23
121                      MANITOBA      22
122              DISTRITO FEDERAL      21
123                        TAIPEI      21
124          REGION METROPOLITANA      20
125                            NL      19
126                         TOKYO      19
127                            NB      18
128                         ZULIA      17
129             DISTRITO NACIONAL      15
130               NEW SOUTH WALES      14
131                        ARAGUA      14
132                           VIC      13
133                        HESSEN      13
134                            AP      13
135                      VICTORIA      12
136                  SASKATCHEWAN      11
137           NORDRHEIN-WESTFALEN      11
138                 NOORD-HOLLAND      11
139                        PANAMA      10
140                 NEW BRUNSWICK      10
141                   NOVA SCOTIA       9
142                      CARABOBO       9
143                         PARIS       8
144                        MADRID       8
145                        SONORA       8
146                        MEXICO       8
147               BAJA CALIFORNIA       7
148                          LARA       7
149                  QUINTANA ROO       7
150        CIUDAD DE BUENOS AIRES       7
151                    GUANAJUATO       6
152                   GYEONGGI-DO       6
153               SOUTH AUSTRALIA       6
154                     CHIHUAHUA       6
155                    NUEVO LEON       6
156                      KINGSTON       6
157                           NSW       6
158                      AUCKLAND       5
159                            PE       5
160                            GB       5
161                 NUEVA ESPARTA       5
162                       JALISCO       4
163                   MAZOWIECKIE       4
164                         OSAKA       4
165             SEOUL TEUKBYEOLSI       4
166                     GUATEMALA       4
167                    QUEENSLAND       4
168                        BAYERN       4
169            BADEN-WUERTTEMBERG       4
170                        LISBOA       4
171     NEWFOUNDLAND AND LABRADOR       4
172                     SAO PAULO       4
173                    ANZOATEGUI       4
174                            13       4
175                         OTHER       4
176               SAN LUIS POTOSI       3
177                       TACHIRA       3
178                 LIMA PROVINCE       3
179               BUCKINGHAMSHIRE       3
180          COAHUILA DE ZARAGOZA       3
181                     PICHINCHA       3
182                       SINALOA       3
183                           QLD       3
184                         MACAU       3
185                        BERLIN       3
186                          COAH       3
187           BAJA CALIFORNIA SUR       3
188                  ZUID-HOLLAND       3
189                WEST BERKSHIRE       3
190                      HAMERKAZ       3
191          QUERETARO DE ARTEAGA       3
192                            YT       3
193                       BOLIVAR       3
194                        MILANO       3
195                      BRUSSELS       3
196            VILNIAUS APSKRITIS       3
197                            GU       3
198                      KANAGAWA       3
199             CENTRAL SINGAPORE       3
200                  BUENOS AIRES       3
201                           CMX       2
202                         APURE       2
203                      ASTURIAS       2
204       NATIONAL CAPITAL REGION       2
205                  WESTERN CAPE       2
206             BRIGHTON AND HOVE       2
207                VERACRUZ-LLAVE       2
208                            NT       2
209                         PORTO       2
210                     SHEFFIELD       2
211                            TW       2
212                     HAMPSHIRE       2
213                         SUCRE       2
214                        MALAGA       2
215                        TAIWAN       2
216                     AD DAWHAH       2
217                    GELDERLAND       2
218                NEW PROVIDENCE       2
219                 SOUTH EASTERN       2
220                           MEX       2
221                    KRUNG THEP       2
222                       GAUTENG       2
223                        DUBAYY       2
224                     ANTIOQUIA       2
225                      ABU ZABY       2
226                       BIO-BIO       2
227                        TAINAN       2
228                      VALENCIA       2
229                       BEOGRAD       2
230               RHEINLAND-PFALZ       2
231                       TAOYUAN       2
232                   GEORGE TOWN       2
233                     KARNATAKA       2
234                           SON       2
235                      YVELINES       2
236               OBEROESTERREICH       2
237                            06       2
238                         YUKON       2
239                        BELIZE       2
240                      CAGLIARI       2
241                   HOVEDSTADEN       2
242                       MANAGUA       2
243                  DOLNOSLASKIE       2
244                             M       2
245                        PARANA       2
246                      TAICHUNG       2
247                        GALWAY       2
248                       CARDIFF       2
249                    MANCHESTER       2
250                       YUCATAN       2
251                       OKINAWA       2
252                  PUERTO PLATA       2
253                     BARCELONA       2
254              GYEONGSANGBUK-DO       2
255                       COJEDES       2
256                         MICHI       2
257                      SAN JOSE       2
258                        DUBLIN       2
259          PRINCE EDWARD ISLAND       2
260                        SURREY       2
261                         AICHI       2
262                       HADAROM       2
263                RIO DE JANEIRO       2
264                           ENG       1
265                   NORDJYLLAND       1
266                     NORTHANTS       1
267                            38       1
268                       CARACAS       1
269             DAEGU GWANGYEOKSI       1
270                     FROSINONE       1
271                      PAMPANGA       1
272                         LECCO       1
273                      PINGTUNG       1
274                       BRISTOL       1
275                        `AMMAN       1
276               VALLE DEL CAUCA       1
277                 NIEDERSACHSEN       1
278                       VICENZA       1
279                HAUTS-DE-SEINE       1
280                         BUSAN       1
281                         BAHIA       1
282                   BASEL-STADT       1
283                       ZUERICH       1
284                         BURSA       1
285                     HYOGO-KEN       1
286                    BIRMINGHAM       1
287                            14       1
288                            22       1
289                            BS       1
290                        MIYAGI       1
291                      AREQUIPA       1
292                    MONTEVIDEO       1
293                         JILIN       1
294                    TAMIL NADU       1
295                     NEWTAIPEI       1
296                         DAEGU       1
297                         CHIBA       1
298                    NETHERLAND       1
299                         DHAKA       1
300             PERTH AND KINROSS       1
301                     LOS LAGOS       1
302             RIO GRANDE DO SUL       1
303                      TEL AVIV       1
304                     DISTRITOF       1
305                        CORTES       1
306                JONKOPINGS LAN       1
307         DUMFRIES AND GALLOWAY       1
308                  ZLINSKY KRAJ       1
309                MONSENOR NOUEL       1
310              LOMAS DE BETANIA       1
311                       JEJU-DO       1
312                           MAD       1
313                     SATAKUNTA       1
314            TELFORD AND WREKIN       1
315             WESTERN AUSTRALIA       1
316                SOUTH TYNESIDE       1
317                         HYOGO       1
318                        MOSKVA       1
319                        OAXACA       1
320                     PORDENONE       1
321                        GUAYAS       1
322                    SANTA CRUZ       1
323                     TELANGANA       1
324              BASEL-LANDSCHAFT       1
325                     SINGAPORE       1
326                      ZARAGOZA       1
327                           DUB       1
328                            GW       1
329                            27       1
330                            09       1
331                    ST. THOMAS       1
332                     SANTA ANA       1
333                            RM       1
334                 ABERDEENSHIRE       1
335                     EDINBURGH       1
336                     ANTWERPEN       1
337                     ATLANTICO       1
338                           BOY       1
339                    SAN MARINO       1
340                             D       1
341                             K       1
342                    LUXEMBOURG       1
343                          ROMA       1
344                       TOTTORI       1
345                         SHIGA       1
346                 PORT-OF-SPAIN       1
347                     AL KUWAYT       1
348                    NEW TAIPEI       1
349                     MAGDALENA       1
350                        RHODES       1
351                       NORFOLK       1
352                     ARAUCANIA       1
353                            YE       1
354                           EDO       1
355                       CAPITAL       1
356                           COL       1
357               KYIVS KA OBLAST       1
358                    WIGTOWNSHI       1
359                      VERAGUAS       1
360                         KYOTO       1
361                   EAST SUSSEX       1
362  AUSTRALIAN CAPITAL TERRITORY       1
363                            11       1
364                    PORTUGUESA       1
365                            NZ       1
366                       NAYARIT       1
367                       KEELUNG       1
368                CAMBRIDGESHIRE       1
369          MYKOLAYIVS KA OBLAST       1
370                          OSLO       1
371                        DURHAM       1
372                        FALCON       1
373                        ANCASH       1
374                            08       1
375                    AL QAHIRAH       1
376                           NBR       1
377                    VALPARAISO       1
378                      GIPUZKOA       1
379                   KANAGAWAKEN       1
380                           CAR       1
381                        OLDHAM       1
382              OPTGROUPUSSTATES       1
383                   PAIJAT-HAME       1
384               ILLE-ET-VILAINE       1
385                    NOTTINGHAM       1
386                       READING       1
387                  HAUTE-SAVOIE       1
388              DONETS KA OBLAST       1
389                     NEW SOUTH       1
390             JIHOMORAVSKY KRAJ       1
391           KOSOVSKO-MITROVACKI       1
392                            CH       1
393                       BAGHDAD       1
394                  WARWICKSHIRE       1
395                   GRAD ZAGREB       1
396                      ROGALAND       1
397                          RIGA       1
398            KENTRIKI MAKEDONIA       1
399                   DUNDEE CITY       1
400                        ATTIKI       1
401                            01       1
402                  YERUSHALAYIM       1
403                      KOSOVSKI       1
404                           ACT       1
405                     GATESHEAD       1
406                     BUCURESTI       1
407          SAKHALINSKAYA OBLAST       1
408                       GABROVO       1
409            RABAT-SALE-KENITRA       1
410                           NEW       1
411                         MEKKA       1
412                            02       1
413                   WEST SUSSEX       1
414                            FC       1
415                       UUSIMAA       1
416               ALPES-MARITIMES       1
417                     RAJASTHAN       1
418                          BAKU       1
419                       HAINAUT       1
420                       FIRENZE       1
421                         TIMIS       1
422                   VARAZDINSKA       1
423                         ESSEX       1
424                  HEILONGJIANG       1
425                       CENTRAL       1
426                           WLN       1
427                STOCKHOLMS LAN       1
428                            DL       1
429                           FIF       1
430                           NUE       1
431                       GIRONDE       1
432                           ONT       1
433                            NF       1
434                           TOK       1
435                            BW       1
436                           BRK       1
437                       N7L 2L8       1
438                           COA       1
439                         ONTAR       1
440                  EAST LOTHIAN       1
441                            NO       1
442                           HAM       1
443                         TIROL       1
444                            BO       1
445                   SOFIYA-GRAD       1
446                            34       1
447                           CHS       1
448                           GYO       1
449                           LAN       1
450                         ON CA       1
451                           BEI       1
452                           YAM       1
453                         ALBER       1
454                            HB       1
455                           LIN       1
456                         SEOUL       1
457                           KYU       1
458                           NTT       1
459                     HONG KONG       1
460                            23       1
461                          WIEN       1
462                    NORTH WEST       1
463                      ALICANTE       1
464                            IT       1
465                       MOSELLE       1
466                      ALBACETE       1
467                        VARGAS       1
468                          META       1
469                   MALOPOLSKIE       1
470                         DAKAR       1
471                   CIUDAD REAL       1
472                    NAGUANAGUA       1
473                        VARESE       1
474                             G       1

In [64]:
# Mapping dictionary for state normalization
state_mapping = {
    'MI': 'MICHIGAN',
    'OH': 'OHIO',
    'IL': 'ILLINOIS',
    'IN': 'INDIANA',
    'WI': 'WISCONSIN',
    'MN': 'MINNESOTA',
    'IA': 'IOWA',
    'KY': 'KENTUCKY',
    'MO': 'MISSOURI',
    'PA': 'PENNSYLVANIA',
    'NY': 'NEW YORK',
    'NJ': 'NEW JERSEY',
    'CT': 'CONNECTICUT',
    'MD': 'MARYLAND',
    'VA': 'VIRGINIA',
    'NC': 'NORTH CAROLINA',
    'SC': 'SOUTH CAROLINA',
    'GA': 'GEORGIA',
    'FL': 'FLORIDA',
    'TX': 'TEXAS',
    'CA': 'CALIFORNIA',
    'WA': 'WASHINGTON',
    'OR': 'OREGON',
    'CO': 'COLORADO',
    'AZ': 'ARIZONA',
    'NV': 'NEVADA',
    'UT': 'UTAH',
    'ID': 'IDAHO',
    'MT': 'MONTANA',
    'WY': 'WYOMING',
    'ND': 'NORTH DAKOTA',
    'SD': 'SOUTH DAKOTA',
    'NE': 'NEBRASKA',
    'KS': 'KANSAS',
    'LA': 'LOUISIANA',
    'AR': 'ARKANSAS',
    'MS': 'MISSISSIPPI',
    'AL': 'ALABAMA',
    'TN': 'TENNESSEE',
    'WV': 'WEST VIRGINIA',
    'DE': 'DELAWARE',
    'VT': 'VERMONT',
    'NH': 'NEW HAMPSHIRE',
    'ME': 'MAINE',
    'HI': 'HAWAII',
    'AK': 'ALASKA',
    'NM': 'NEW MEXICO',
    'OK': 'OKLAHOMA',
    'MA': 'MASSACHUSETTS',
    'RI': 'RHODE ISLAND',
    # Non-state territories and regions
    'PR': 'PUERTO RICO',
    'DC': 'DISTRICT OF COLUMBIA',
    'AS': 'AMERICAN SAMOA',
    'GU': 'GUAM',
    'MP': 'NORTHERN MARIANA ISLANDS',
    'VI': 'VIRGIN ISLANDS',
    'FM': 'FEDERATED STATES OF MICRONESIA',
    'MH': 'MARSHALL ISLANDS',
    # International regions (if applicable)
    'OT': 'ONTARIO',  # Example for Ontario, Canada
    'ON': 'ONTARIO',  # Example for Ontario, Canada
    'Ontario': 'ONTARIO',  # Example for Ontario, Canada
    'NS': 'NOVA SCOTIA',  # Example for Nova Scotia, Canada
    'QC': 'QUEBEC',  # Example for Quebec, Canada
    'BC': 'BRITISH COLUMBIA',  # Example for British Columbia, Canada
    'AB': 'ALBERTA',  # Example for Alberta, Canada
    'SK': 'SASKATCHEWAN',  # Example for Saskatchewan, Canada
    'NL': 'NEWFOUNDLAND AND LABRADOR',  # Example for Newfoundland and Labrador, Canada
    'YT': 'YUKON',  # Example for Yukon, Canada
    'NT': 'NORTHWEST TERRITORIES',  # Example for Northwest Territories, Canada
    'NU': 'NUNAVUT',  # Example for Nunavut, Canada
    'MB': 'MANITOBA',  # Example for Manitoba, Canada
    'PE': 'PRINCE EDWARD ISLAND',  # Example for Prince Edward Island, Canada
    'NB': 'NEW BRUNSWICK'  # Example for New Brunswick, Canada
}

# Function to normalize state values
def normalize_state(state):
    state = state.strip().upper()
    return state_mapping.get(state, state)

# Apply the normalization function to the 'State' column
data['State'] = data['State'].apply(lambda x: normalize_state(x) if pd.notnull(x) else x)

# Display the normalized state counts
normalized_state_counts = data['State'].value_counts().reset_index()
normalized_state_counts.columns = ['State', 'Count']
print(normalized_state_counts.to_string())

                            State   Count
0                        MICHIGAN  204931
1                            OHIO   13412
2                         ONTARIO    8661
3                         FLORIDA    7883
4                        NEW YORK    5013
5                      CALIFORNIA    4902
6                        ILLINOIS    4892
7                         INDIANA    3827
8                           TEXAS    3359
9                    PENNSYLVANIA    2152
10                       VIRGINIA    1778
11                 NORTH CAROLINA    1732
12                        ARIZONA    1656
13                        GEORGIA    1562
14                      TENNESSEE    1459
15                  MASSACHUSETTS    1430
16                     NEW JERSEY    1285
17                      WISCONSIN    1158
18                       COLORADO    1084
19                       MARYLAND     968
20                       MISSOURI     847
21                       KENTUCKY     841
22                 SOUTH CAROLINA     821
23                     WASHINGTON     759
24                      MINNESOTA     738
25                         NEVADA     686
26                    CONNECTICUT     639
27                        ALABAMA     547
28                           IOWA     424
29                         OREGON     360
30                         KANSAS     355
31                           UTAH     333
32                      LOUISIANA     314
33                       OKLAHOMA     303
34                          MAINE     288
35                       NEBRASKA     272
36                     NEW MEXICO     258
37           DISTRICT OF COLUMBIA     253
38                    PUERTO RICO     213
39                       ARKANSAS     208
40                         QUEBEC     188
41                        ALBERTA     185
42                  WEST VIRGINIA     183
43                  NEW HAMPSHIRE     173
44                    MISSISSIPPI     147
45                         HAWAII     140
46                       DELAWARE     139
47                        MONTANA     139
48               BRITISH COLUMBIA     135
49                           NONE     135
50                          IDAHO     132
51                        VERMONT     126
52                         ALASKA     124
53                   RHODE ISLAND     115
54                  NON-US NON-CA     104
55                   SOUTH DAKOTA      94
56                   NORTH DAKOTA      90
57                        WYOMING      85
58                             AE      70
59               DISTRITO CAPITAL      69
60                    NOVA SCOTIA      51
61                       MANITOBA      46
62                   SASKATCHEWAN      46
63                 GREATER LONDON      39
64                             AA      30
65                  NEW BRUNSWICK      28
66                        MIRANDA      26
67      NEWFOUNDLAND AND LABRADOR      23
68               DISTRITO FEDERAL      21
69                         TAIPEI      21
70           REGION METROPOLITANA      20
71                          TOKYO      19
72                          ZULIA      17
73              DISTRITO NACIONAL      15
74                NEW SOUTH WALES      14
75                         ARAGUA      14
76                             AP      13
77                         HESSEN      13
78                            VIC      13
79                       VICTORIA      12
80                  NOORD-HOLLAND      11
81            NORDRHEIN-WESTFALEN      11
82                         PANAMA      10
83                       CARABOBO       9
84                         SONORA       8
85                         MADRID       8
86                         MEXICO       8
87                          PARIS       8
88         CIUDAD DE BUENOS AIRES       7
89                   QUINTANA ROO       7
90           PRINCE EDWARD ISLAND       7
91                           LARA       7
92                BAJA CALIFORNIA       7
93                       KINGSTON       6
94                            NSW       6
95                     GUANAJUATO       6
96                      CHIHUAHUA       6
97                     NUEVO LEON       6
98                    GYEONGGI-DO       6
99                SOUTH AUSTRALIA       6
100                 NUEVA ESPARTA       5
101                      AUCKLAND       5
102                         YUKON       5
103                            GB       5
104            BADEN-WUERTTEMBERG       4
105                        LISBOA       4
106                        BAYERN       4
107                   MAZOWIECKIE       4
108                       JALISCO       4
109                         OSAKA       4
110                    QUEENSLAND       4
111                    ANZOATEGUI       4
112                     GUATEMALA       4
113                     SAO PAULO       4
114                         OTHER       4
115             SEOUL TEUKBYEOLSI       4
116                            13       4
117                      BRUSSELS       3
118                       TACHIRA       3
119                      KANAGAWA       3
120           BAJA CALIFORNIA SUR       3
121                           QLD       3
122                WEST BERKSHIRE       3
123                       BOLIVAR       3
124                      HAMERKAZ       3
125            VILNIAUS APSKRITIS       3
126          COAHUILA DE ZARAGOZA       3
127                     PICHINCHA       3
128                       SINALOA       3
129                        BERLIN       3
130                  ZUID-HOLLAND       3
131                         MACAU       3
132             CENTRAL SINGAPORE       3
133                        MILANO       3
134                 LIMA PROVINCE       3
135               BUCKINGHAMSHIRE       3
136                          GUAM       3
137                          COAH       3
138               SAN LUIS POTOSI       3
139          QUERETARO DE ARTEAGA       3
140                  BUENOS AIRES       3
141       NATIONAL CAPITAL REGION       2
142                     SHEFFIELD       2
143                     AD DAWHAH       2
144                NEW PROVIDENCE       2
145                 SOUTH EASTERN       2
146                         PORTO       2
147                        DUBAYY       2
148             BRIGHTON AND HOVE       2
149                    MANCHESTER       2
150                       BIO-BIO       2
151                       BEOGRAD       2
152                       TAOYUAN       2
153                    GELDERLAND       2
154                        TAIWAN       2
155                       COJEDES       2
156                      ABU ZABY       2
157                  DOLNOSLASKIE       2
158                        MALAGA       2
159                      YVELINES       2
160                        PARANA       2
161                RIO DE JANEIRO       2
162                      TAICHUNG       2
163                             M       2
164                        DUBLIN       2
165                         MICHI       2
166                        GALWAY       2
167                     BARCELONA       2
168                         AICHI       2
169         NORTHWEST TERRITORIES       2
170                       CARDIFF       2
171                            TW       2
172                     HAMPSHIRE       2
173                         SUCRE       2
174                           MEX       2
175                       GAUTENG       2
176                      SAN JOSE       2
177                       YUCATAN       2
178                       MANAGUA       2
179                   HOVEDSTADEN       2
180                       OKINAWA       2
181               OBEROESTERREICH       2
182                         APURE       2
183               RHEINLAND-PFALZ       2
184                   GEORGE TOWN       2
185                VERACRUZ-LLAVE       2
186                        SURREY       2
187              GYEONGSANGBUK-DO       2
188                    KRUNG THEP       2
189                  PUERTO PLATA       2
190                        TAINAN       2
191                       HADAROM       2
192                      CAGLIARI       2
193                            06       2
194                           SON       2
195                     KARNATAKA       2
196                     ANTIOQUIA       2
197                  WESTERN CAPE       2
198                           CMX       2
199                      ASTURIAS       2
200                        BELIZE       2
201                      VALENCIA       2
202                     LOS LAGOS       1
203             DAEGU GWANGYEOKSI       1
204             PERTH AND KINROSS       1
205                         BAHIA       1
206                       ZUERICH       1
207                         BUSAN       1
208                       CARACAS       1
209                            38       1
210                           ENG       1
211                     FROSINONE       1
212                HAUTS-DE-SEINE       1
213                        `AMMAN       1
214                       VICENZA       1
215                     NORTHANTS       1
216                     HYOGO-KEN       1
217                   NORDJYLLAND       1
218                   BASEL-STADT       1
219                         BURSA       1
220                    TAMIL NADU       1
221                     NEWTAIPEI       1
222                         DAEGU       1
223                         CHIBA       1
224                         DHAKA       1
225                        MIYAGI       1
226                      AREQUIPA       1
227                 NIEDERSACHSEN       1
228                            22       1
229             RIO GRANDE DO SUL       1
230               VALLE DEL CAUCA       1
231                            14       1
232                    MONTEVIDEO       1
233                         JILIN       1
234                         LECCO       1
235                    BIRMINGHAM       1
236                      PAMPANGA       1
237                       BRISTOL       1
238                    NETHERLAND       1
239                      PINGTUNG       1
240                            BS       1
241                   KANAGAWAKEN       1
242                     DISTRITOF       1
243                        CORTES       1
244                JONKOPINGS LAN       1
245         DUMFRIES AND GALLOWAY       1
246                  ZLINSKY KRAJ       1
247                MONSENOR NOUEL       1
248              LOMAS DE BETANIA       1
249                       JEJU-DO       1
250                           MAD       1
251                     SATAKUNTA       1
252            TELFORD AND WREKIN       1
253             WESTERN AUSTRALIA       1
254                SOUTH TYNESIDE       1
255                         HYOGO       1
256                        MOSKVA       1
257                        OAXACA       1
258                     PORDENONE       1
259                        GUAYAS       1
260                    SANTA CRUZ       1
261                     TELANGANA       1
262              BASEL-LANDSCHAFT       1
263                     SINGAPORE       1
264                      ZARAGOZA       1
265                           DUB       1
266                            GW       1
267                            27       1
268                            09       1
269                    ST. THOMAS       1
270                     SANTA ANA       1
271                            RM       1
272                 ABERDEENSHIRE       1
273                     EDINBURGH       1
274                     ANTWERPEN       1
275                     ATLANTICO       1
276                           BOY       1
277                    SAN MARINO       1
278                             D       1
279                             K       1
280                    LUXEMBOURG       1
281                          ROMA       1
282                      TEL AVIV       1
283                         SHIGA       1
284                 PORT-OF-SPAIN       1
285                     AL KUWAYT       1
286                    NEW TAIPEI       1
287                     MAGDALENA       1
288                        RHODES       1
289                       NORFOLK       1
290                     ARAUCANIA       1
291                            YE       1
292                           EDO       1
293                       CAPITAL       1
294                           COL       1
295               KYIVS KA OBLAST       1
296                    WIGTOWNSHI       1
297                      VERAGUAS       1
298                         KYOTO       1
299                   EAST SUSSEX       1
300  AUSTRALIAN CAPITAL TERRITORY       1
301                            11       1
302                    PORTUGUESA       1
303                            NZ       1
304                       NAYARIT       1
305                       KEELUNG       1
306                CAMBRIDGESHIRE       1
307          MYKOLAYIVS KA OBLAST       1
308                          OSLO       1
309                        DURHAM       1
310                        FALCON       1
311                        ANCASH       1
312                            08       1
313                    AL QAHIRAH       1
314                           NBR       1
315                    VALPARAISO       1
316                      GIPUZKOA       1
317                       TOTTORI       1
318                           CAR       1
319                        OLDHAM       1
320              OPTGROUPUSSTATES       1
321                   PAIJAT-HAME       1
322               ILLE-ET-VILAINE       1
323                    NOTTINGHAM       1
324                       READING       1
325                          GIFU       1
326              DONETS KA OBLAST       1
327                     HONG KONG       1
328             JIHOMORAVSKY KRAJ       1
329           KOSOVSKO-MITROVACKI       1
330                            CH       1
331                       BAGHDAD       1
332                  WARWICKSHIRE       1
333                   GRAD ZAGREB       1
334                      ROGALAND       1
335                          RIGA       1
336            KENTRIKI MAKEDONIA       1
337                   DUNDEE CITY       1
338                        ATTIKI       1
339                            01       1
340                  YERUSHALAYIM       1
341                      KOSOVSKI       1
342                           ACT       1
343                     GATESHEAD       1
344                     BUCURESTI       1
345          SAKHALINSKAYA OBLAST       1
346                       GABROVO       1
347            RABAT-SALE-KENITRA       1
348                           NEW       1
349                         MEKKA       1
350                            02       1
351                   WEST SUSSEX       1
352                            FC       1
353                       UUSIMAA       1
354               ALPES-MARITIMES       1
355                     RAJASTHAN       1
356                          BAKU       1
357                       HAINAUT       1
358                       FIRENZE       1
359                         TIMIS       1
360                   VARAZDINSKA       1
361                         ESSEX       1
362                  HEILONGJIANG       1
363                       CENTRAL       1
364                           WLN       1
365                STOCKHOLMS LAN       1
366                            DL       1
367                           FIF       1
368                           NUE       1
369                       GIRONDE       1
370                           ONT       1
371                            NF       1
372                           TOK       1
373                            BW       1
374                           BRK       1
375                       N7L 2L8       1
376                           COA       1
377                         ONTAR       1
378                  EAST LOTHIAN       1
379                            NO       1
380                           HAM       1
381                         TIROL       1
382                            BO       1
383                   SOFIYA-GRAD       1
384                            34       1
385                           CHS       1
386                           GYO       1
387                           LAN       1
388                         ON CA       1
389                           BEI       1
390                           YAM       1
391                         ALBER       1
392                            HB       1
393                           LIN       1
394                         SEOUL       1
395                           KYU       1
396                           NTT       1
397                  HAUTE-SAVOIE       1
398                     NEW SOUTH       1
399                          WIEN       1
400                            23       1
401                      ALICANTE       1
402                            IT       1
403                       MOSELLE       1
404                      ALBACETE       1
405                        VARGAS       1
406                          META       1
407                   MALOPOLSKIE       1
408                         DAKAR       1
409                   CIUDAD REAL       1
410                    NAGUANAGUA       1
411                        VARESE       1
412                             G       1
413                            RJ       1
414                        INCHON       1
415                       WEXFORD       1
416                            VE       1
417                       WAIKATO       1
418                   SOUTHAMPTON       1
419                      ISTANBUL       1
420                    NORTHAMPTO       1
421                    TAIWAN  PR       1
422                           SOM       1
423                   ANTOFAGASTA       1
424                        BREMEN       1
425                       SHIMANE       1
426                       TABASCO       1
427                     ATLANTIDA       1
428                  SAN SALVADOR       1
429                  GLASGOW CITY       1
430                     LUBELSKIE       1
431                 HAUTE-GARONNE       1
432                         CLARE       1
433                  JAKARTA RAYA       1
434                     LIVERPOOL       1
435                      BCCANADA       1
436                    RUSSIAN FE       1
437                    GLASGOW SC       1
438                    OVERIJSSEL       1
439                            JP       1
440                     FUKUSHIMA       1
441                         TROMS       1
442                           VER       1
443                     WESTMEATH       1
444           WARMINSKO-MAZURSKIE       1
445                           DUR       1
446              L VIVS KA OBLAST       1
447                           DIS       1
448                          FARO       1
449                 NOORD-BRABANT       1
450                            07       1
451                    NORTH WEST       1
452     FEDERAL CAPITAL TERRITORY       1
453                        ANKARA       1
454                   BEIJING SHI       1
455                      SHIZUOKA       1
456                 SOR-TRONDELAG       1
457                            00       1
458              CIUDAD DE MEXICO       1
459                          LEON       1
460                           ESS       1
461                           SHR       1
462                      ALDERNEY       1
463             ZAMBOANGA DEL SUR       1
464                      SOMERSET       1
465             CHUNGCHEONGNAM-DO       1
466                    SOUTH WEST       1
467                            HK       1
468                    STEIERMARK       1
469                        RIVERS       1
470                            GT       1

In [65]:
# Get the counts of each state
state_counts = data['State'].value_counts()

# Function to update state values based on their occurrences
def update_state(state):
    if state not in state_mapping.values():
        return 'OTHERS'
    return state

# Function to group all values that are null as NULL
def update_Nullstate(state):
    if pd.isnull(state):
        return 'NULL'
    return state

# Apply the update function to the 'State' column
data['State'] = data['State'].apply(lambda x: update_state(x) if pd.notnull(x) else x)
data['State'] = data['State'].apply(lambda x: update_Nullstate(x))

# Display the updated state counts
updated_state_counts = data['State'].value_counts().reset_index()
updated_state_counts.columns = ['State', 'Count']
print(updated_state_counts.to_string())

                        State   Count
0                    MICHIGAN  204931
1                        NULL  110845
2                        OHIO   13412
3                     ONTARIO    8661
4                     FLORIDA    7883
5                    NEW YORK    5013
6                  CALIFORNIA    4902
7                    ILLINOIS    4892
8                     INDIANA    3827
9                       TEXAS    3359
10               PENNSYLVANIA    2152
11                   VIRGINIA    1778
12             NORTH CAROLINA    1732
13                    ARIZONA    1656
14                    GEORGIA    1562
15                  TENNESSEE    1459
16              MASSACHUSETTS    1430
17                     OTHERS    1333
18                 NEW JERSEY    1285
19                  WISCONSIN    1158
20                   COLORADO    1084
21                   MARYLAND     968
22                   MISSOURI     847
23                   KENTUCKY     841
24             SOUTH CAROLINA     821
25                 WASHINGTON     759
26                  MINNESOTA     738
27                     NEVADA     686
28                CONNECTICUT     639
29                    ALABAMA     547
30                       IOWA     424
31                     OREGON     360
32                     KANSAS     355
33                       UTAH     333
34                  LOUISIANA     314
35                   OKLAHOMA     303
36                      MAINE     288
37                   NEBRASKA     272
38                 NEW MEXICO     258
39       DISTRICT OF COLUMBIA     253
40                PUERTO RICO     213
41                   ARKANSAS     208
42                     QUEBEC     188
43                    ALBERTA     185
44              WEST VIRGINIA     183
45              NEW HAMPSHIRE     173
46                MISSISSIPPI     147
47                     HAWAII     140
48                    MONTANA     139
49                   DELAWARE     139
50           BRITISH COLUMBIA     135
51                      IDAHO     132
52                    VERMONT     126
53                     ALASKA     124
54               RHODE ISLAND     115
55               SOUTH DAKOTA      94
56               NORTH DAKOTA      90
57                    WYOMING      85
58                NOVA SCOTIA      51
59                   MANITOBA      46
60               SASKATCHEWAN      46
61              NEW BRUNSWICK      28
62  NEWFOUNDLAND AND LABRADOR      23
63       PRINCE EDWARD ISLAND       7
64                      YUKON       5
65                       GUAM       3
66      NORTHWEST TERRITORIES       2

<h3>Redo sections that analysts did to keep global key present</h3>

<h5>Gender</h5>

In [66]:
#Will create three columns: isMale, isFemale, isNaN based on gender column
#Print values in Gender column
print(data['Gender'].value_counts())
#Create new columns
data['isMale'] = data['Gender'].apply(lambda x: 1 if x == 'Male' else 0)
data['isFemale'] = data['Gender'].apply(lambda x: 1 if x == 'Female' else 0)
#isNan should have all that are not 'Male' or 'Female' or is Null
data['isNaN'] = data['Gender'].apply(lambda x: 1 if pd.isnull(x) else 0)
# Find about 10,000 more non NaN and not Male or Female and lump them into isNaN
non_male_female = data[(data['Gender'] != 'Male') & (data['Gender'] != 'Female') & (pd.notnull(data['Gender']))]
data.loc[non_male_female.index, 'isNaN'] = 1

print(data[['isMale', 'isFemale', 'isNaN']].sum())

# confirm no overlap between isMale, isFemale, and isNaN
# Confirm no overlap between isMale, isFemale, and isNaN
assert data[['isMale', 'isFemale', 'isNaN']].sum().sum() == data.shape[0]

# Ensure the sum of all the columns values equals the number of rows
assert data[['isMale', 'isFemale', 'isNaN']].sum(axis=1).eq(1).all()

Gender
Male         158198
Female        95983
<Unknown>     77584
Name: count, dtype: int64
isMale      158198
isFemale     95983
isNaN       143006
dtype: int64

In [67]:
# Drop the gender column
data.drop(columns=['Gender'], inplace=True)

<h5>Age Redo</h5>

In [68]:
#print columns list
column_types = data.dtypes
for column, dtype in column_types.items():
    print(f"{column}: {dtype}")

KeepFlag: int64
GlobalKey: int64
SeasonKey: int64
FanSinceDate: object
FirstGameAttended: object
TotalGamesAttended: float64
FirstGameBought: object
LastGameBought: object
TotalTicketsPurchased: float64
TotalLifetimeValue: float64
CurrentSeasonEmailActivities: float64
PreviousSeasonsEmailActivities: float64
STMFlagCurr: int64
TicketingFanType: object
EmailFanType: object
FullSeasonBuyer: float64
HalfSeasonBuyer: float64
QuarterSeasonBuyer: float64
MiniPlanBuyer: float64
IndividualGameBuyer: float64
City: object
State: object
PostalCd: object
Country: object
Education: object
Occupation: object
Age: float64
MaritalStatus: object
PresenceOfChildren: object
DwellingType: object
HouseholdIncome: object
NetWorth: object
PrimaryVehicleType: object
MSADescription: object
MailSuppresionFlg: float64
WorkingWomanFlg: float64
BankCardHolderFlg: float64
GasDepartmentRetailCardHolderFlg: float64
TravelEntertainmentCardHolderFlg: float64
CreditCardHolderUnknownTypeFlg: float64
PremiumCardHolderFlg: float64
UpscaleDepartmentStoreCardHolderFlg: float64
MailOrderResponderFlg: float64
TruckOwnerFlg: float64
MotorcycleOwnerFlg: float64
RVOwnerFlg: float64
IntTheatrePerformingArtsFlg: float64
IntArtsFlg: float64
IntDomesticTravelFlg: float64
IntHomeStereosFlg: float64
IntMusicDevicesFlg: float64
IntMusicAvidListenerFlg: float64
IntMusicCollectorFlg: float64
IntMovieCollectorFlg: float64
IntAutoRacingFlg: float64
IntFootballFlg: float64
IntBaseballFlg: float64
IntBasketballFlg: float64
IntHockeyFlg: float64
IntContestsFlg: float64
IntSportsFlg: float64
IntMusicMoviesFlg: float64
IntNascarFlg: float64
IntUpscaleLivingFlg: float64
DistanceToArena: float64
NumberOfAdultsInHousehold: float64
LengthOfResidence: float64
DiscretionaryIncomeIndex: float64
FinancialScore: float64
NumberOfVehicles: float64
Male18to24: float64
Female18to24: float64
Male25to34: float64
Female25to34: float64
Male35to44: float64
Female35to44: float64
Male45to54: float64
Female45to54: float64
Male55to65: float64
Female55to64: float64
Male65to75: float64
Female65to74: float64
Male75up: float64
Female75up: float64
ClientFirstSaleDateKey: float64
VisaCardUserFlg: float64
MasterCardUserFlg: float64
AmexCardUserFlg: float64
DiscoverCardUserFlg: float64
OtherCardUserFlg: float64
ClientWalkUpBuyerFlg: float64
GroupBuyerFlg: float64
ConcertEventFlg: float64
ArtsEventFlg: float64
SportsEventFlg: float64
FamilyEventFlg: float64
HighSpenderFlg: float64
TotalEvents: float64
AvgTicketsPerEvent: float64
TotalSpend: float64
AvgSpendPerEvent: float64
LowestTicketPrice: float64
HighestTicketPrice: float64
AvgDistanceTraveledLocal: float64
SpendPerEventConcerts: float64
SpendPerEventArts: float64
SpendPerEventSports: float64
SpendPerEventFamily: float64
ClusterCode: float64
ClusterDescription: object
GroupCode: float64
GroupDescription: object
OutlierFlg: float64
ModelConfidence: float64
ModelPlanGrade: object
ModelPlanScore: float64
ModelTixPriceGrade: object
ModelTixPriceScore: float64
ModelSeasonSpendGrade: object
ModelSeasonSpendScore: float64
RFMGrade: object
RFMScore: float64
HighPriceBuyerLikelihood: float64
PropnBaseball: float64
PropnBasketball: float64
PropnFootball: float64
PropnHockey: float64
PropnSoccer: float64
PropnAdultContemporary: float64
PropnAltRock: float64
PropnCountry: float64
PropnEDM: float64
PropnMetal: float64
PropnJazzBlues: float64
PropnLatin: float64
PropnUrbanHipHopRap: float64
PropnRnBSoul: float64
PropnRockPop: float64
PropnMusicFestivals: float64
PropnOtherConcerts: float64
PropnBroadwayMusical: float64
PropnComedy: float64
PropnClassicalOpera: float64
PropnTheatrePlays: float64
PropnBalletDance: float64
PropnArtsFestival: float64
PropnMagicShows: float64
PropnOtherArts: float64
PropnCircus: float64
PropnFamilyShows: float64
PropnOtherFamily: float64
PropnBoxing: float64
PropnMMA: float64
PropnWrestling: float64
PropnCollegeBaseball: float64
PropnCollegeBasketball: float64
PropnCollegeFootball: float64
PropnCollegeHockey: float64
PropnMotorsports: float64
PropnRodeo: float64
PropnGolf: float64
PropnTennis: float64
PropnOtherSports: float64
HouseholdEstimateIncome: object
MatchLevelCode: object
MatchLevelDescription: object
ShareOfWalletConcerts: float64
ShareOfWalletArts: float64
ShareOfWalletSports: float64
ShareOfWalletFamily: float64
ShareOfWalletMiscellaneous: float64
PercentOfTransactions1_2Tickets: float64
PercentOfTransactions3_4Tickets: float64
PercentOfTransactions5_8Tickets: float64
PercentOfTransactions9PlusTickets: float64
PercentOfTransactions1_25DollarTickets: float64
PercentOfTransactions26_50DollarTickets: float64
PercentOfTransactions51_100DollarTickets: float64
PercentOfTransactions101_200DollarTickets: float64
PercentOfTransactions201PlusDollarTickets: float64
PercentOfTicketsLowPriceLevel: float64
PercentOfTicketsFairPriceLevel: float64
PercentOfTicketsGoodPriceLevel: float64
PercentOfTicketsVeryGoodPriceLevel: float64
PercentOfTicketsBestPriceLevel: float64
PercentOfTicketsPurchasedPresale: float64
PercentOfTicketsPurchasedFirstDayOnsale: float64
PercentOfTicketsPurchasedFirstWeekOnSale: float64
PercentOfTicketsPurchasedBeforeWeekOfEvent: float64
PercentOfTicketsPurchasedWeekOfEvent: float64
PercentOfTransactionsViaTicketMaster: float64
PercentOfTransactionsViaCallCenter: float64
PercentOfTransactionsViaMobile: float64
PercentOfTransactionsViaBoxOffice: float64
PercentOfTransactionsViaOutlet: float64
isMale: int64
isFemale: int64
isNaN: int64

In [69]:
# print values of data['Age']
print(data['Age'].value_counts())

Age
44.0    13220
42.0    13207
40.0    12605
46.0    12600
52.0    12082
48.0    11717
50.0    11458
38.0    11356
54.0    10690
56.0    10101
36.0    10059
60.0     9585
58.0     9536
62.0     9147
64.0     8670
34.0     8659
32.0     8409
66.0     7869
30.0     7618
28.0     7311
68.0     6698
26.0     6600
24.0     6030
70.0     5685
22.0     4948
72.0     4456
74.0     3570
20.0     3254
76.0     2628
78.0     1498
18.0     1476
80.0     1249
82.0      723
84.0      540
86.0      387
99.0      281
88.0      257
90.0      216
92.0      185
94.0      133
96.0      124
98.0       78
Name: count, dtype: int64

In [70]:
# print how many have null values
print(data['Age'].isnull().sum())

140272

In [71]:
import pandas as pd
from sklearn.cluster import KMeans

# Assuming 'data' is your DataFrame
# Use k-means clustering to fill in missing values for the 'Age' column

# Get the indices of rows with missing 'Age' values
missingAgeIndices = data[data['Age'].isnull()].index

# Get the indices of rows with non-missing 'Age' values
nonMissingAgeIndices = data[data['Age'].notnull()].index

# Create a k-means model with 3 clusters
kmeans = KMeans(n_clusters=3, random_state=0)

# Fit the model on the non-missing 'Age' values
kmeans.fit(data.loc[nonMissingAgeIndices, ['Age']])

# Predict the clusters for all 'Age' values
ageClusters = kmeans.predict(data[['Age']].fillna(0))

# Get the cluster centers
clusterCenters = kmeans.cluster_centers_

# Create a DataFrame to map clusters to their centers
clusterMap = pd.DataFrame(clusterCenters, columns=['Age'])

# Assign the cluster center values to the missing 'Age' values
for idx in missingAgeIndices:
    cluster = ageClusters[idx]
    data.at[idx, 'Age'] = clusterMap.at[cluster, 'Age']

# Now 'data' has the missing 'Age' values filled in using k-means clustering

/home/jbrinkm/IllitchML/venv/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [72]:
# print how many have null values
print(data['Age'].isnull().sum())

0

<h5>DONE!</h5>

<h5>Household Estimate Income</h5>

In [ ]:
# call binConvert function from Helpers.py
data = binConvert(data, 'HouseholdIncome')

In [135]:
import importlib
import Helpers
importlib.reload(Helpers)

In [132]:
# validate the conversion
print(getConvertedValues(data, 'HouseholdIncome'))

NameError: name 'getConvertedValues' is not defined

<h5>Net Worth</h5>

In [77]:
# call binConvert function from Helpers.py
data = binConvert(data, 'NetWorth')

In [130]:
# validate the conversion
print(getConvertedValues(data, 'HouseholdIncome'))

NameError: name 'getConvertedValues' is not defined

<h5>CurrentSeasonEmailActivities</h5>

In [134]:
print(data['CurrentSeasonEmailActivities'].unique())
print(data['CurrentSeasonEmailActivities'])

[ 10.  nan   1.   7.  13.   0.  25.   8.  21.  12.   2.   5.  19.  31.
  16.  28.  11.  17.  14.  24.   4.  27.  29.  64.  26.  20.  22.   9.
   6.  30.  32.  33.  34.  18.   3.  58. 129.  69.  15.  35.  49.  43.
  23.  54.  44.  41.  59.  39.  62.  57.  53.  60.  36.  38.  42.  45.
  37.  40.  52.  83.  63.  61.  71.  75. 100.  77.  56.  50.  51.  55.
  46.  66. 124.  48.  47.  65.  82.  76.  86.  79.  68.  67.  81.  72.
 156.  85.  74. 107.  84.  70. 143.  92.  99.  73. 106. 108. 105. 109.
  98. 171.  80.  90. 103. 147. 120.  93. 114.  88.  95.  87.  78.  94.
 133. 101. 111. 122. 123. 117. 102. 116.  96. 167.  89. 155. 175. 104.]
0         10.0
1          NaN
2          1.0
3          7.0
4         13.0
          ...
397182     NaN
397183     NaN
397184     NaN
397185     NaN
397186     NaN
Name: CurrentSeasonEmailActivities, Length: 397187, dtype: float64

Doing nearest neighbor estimate for this

In [ ]:
nearestNeighborEstimate(data, 'CurrentSeasonEmailActivities')

<h1>Save work to TigersCleaned.csv</h1>

In [ ]:
#save work to a new csv file
data.to_csv('data/TigersCleaned.csv', index=False)

<h5>Cluster Analysis w/5 clusters</h5>

In [ ]:
# print all columns with NaN values
nan_columns = data.columns[data.isnull().any()]
# print the name of the columns with NaN values
for nanCol in nan_columns:
    print(nanCol)

FirstGameAttended
TotalGamesAttended
FirstGameBought
LastGameBought
TotalTicketsPurchased
TotalLifetimeValue
CurrentSeasonEmailActivities
PreviousSeasonsEmailActivities
FullSeasonBuyer
HalfSeasonBuyer
QuarterSeasonBuyer
MiniPlanBuyer
IndividualGameBuyer
City
PostalCd
Country
Education
Occupation
MaritalStatus
PresenceOfChildren
DwellingType
NetWorth
PrimaryVehicleType
MSADescription
MailSuppresionFlg
WorkingWomanFlg
BankCardHolderFlg
GasDepartmentRetailCardHolderFlg
TravelEntertainmentCardHolderFlg
CreditCardHolderUnknownTypeFlg
PremiumCardHolderFlg
UpscaleDepartmentStoreCardHolderFlg
MailOrderResponderFlg
TruckOwnerFlg
MotorcycleOwnerFlg
RVOwnerFlg
IntTheatrePerformingArtsFlg
IntArtsFlg
IntDomesticTravelFlg
IntHomeStereosFlg
IntMusicDevicesFlg
IntMusicAvidListenerFlg
IntMusicCollectorFlg
IntMovieCollectorFlg
IntAutoRacingFlg
IntFootballFlg
IntBaseballFlg
IntBasketballFlg
IntHockeyFlg
IntContestsFlg
IntSportsFlg
IntMusicMoviesFlg
IntNascarFlg
IntUpscaleLivingFlg
DistanceToArena
NumberOfAdultsInHousehold
LengthOfResidence
DiscretionaryIncomeIndex
FinancialScore
NumberOfVehicles
Male18to24
Female18to24
Male25to34
Female25to34
Male35to44
Female35to44
Male45to54
Female45to54
Male55to65
Female55to64
Male65to75
Female65to74
Male75up
Female75up
ClientFirstSaleDateKey
VisaCardUserFlg
MasterCardUserFlg
AmexCardUserFlg
DiscoverCardUserFlg
OtherCardUserFlg
ClientWalkUpBuyerFlg
GroupBuyerFlg
ConcertEventFlg
ArtsEventFlg
SportsEventFlg
FamilyEventFlg
HighSpenderFlg
TotalEvents
AvgTicketsPerEvent
TotalSpend
AvgSpendPerEvent
LowestTicketPrice
HighestTicketPrice
AvgDistanceTraveledLocal
SpendPerEventConcerts
SpendPerEventArts
SpendPerEventSports
SpendPerEventFamily
ClusterCode
ClusterDescription
GroupCode
GroupDescription
OutlierFlg
ModelConfidence
ModelPlanGrade
ModelPlanScore
ModelTixPriceGrade
ModelTixPriceScore
ModelSeasonSpendGrade
ModelSeasonSpendScore
RFMGrade
RFMScore
HighPriceBuyerLikelihood
PropnBaseball
PropnBasketball
PropnFootball
PropnHockey
PropnSoccer
PropnAdultContemporary
PropnAltRock
PropnCountry
PropnEDM
PropnMetal
PropnJazzBlues
PropnLatin
PropnUrbanHipHopRap
PropnRnBSoul
PropnRockPop
PropnMusicFestivals
PropnOtherConcerts
PropnBroadwayMusical
PropnComedy
PropnClassicalOpera
PropnTheatrePlays
PropnBalletDance
PropnArtsFestival
PropnMagicShows
PropnOtherArts
PropnCircus
PropnFamilyShows
PropnOtherFamily
PropnBoxing
PropnMMA
PropnWrestling
PropnCollegeBaseball
PropnCollegeBasketball
PropnCollegeFootball
PropnCollegeHockey
PropnMotorsports
PropnRodeo
PropnGolf
PropnTennis
PropnOtherSports
HouseholdEstimateIncome
MatchLevelCode
MatchLevelDescription
ShareOfWalletConcerts
ShareOfWalletArts
ShareOfWalletSports
ShareOfWalletFamily
ShareOfWalletMiscellaneous
PercentOfTransactions1_2Tickets
PercentOfTransactions3_4Tickets
PercentOfTransactions5_8Tickets
PercentOfTransactions9PlusTickets
PercentOfTransactions1_25DollarTickets
PercentOfTransactions26_50DollarTickets
PercentOfTransactions51_100DollarTickets
PercentOfTransactions101_200DollarTickets
PercentOfTransactions201PlusDollarTickets
PercentOfTicketsLowPriceLevel
PercentOfTicketsFairPriceLevel
PercentOfTicketsGoodPriceLevel
PercentOfTicketsVeryGoodPriceLevel
PercentOfTicketsBestPriceLevel
PercentOfTicketsPurchasedPresale
PercentOfTicketsPurchasedFirstDayOnsale
PercentOfTicketsPurchasedFirstWeekOnSale
PercentOfTicketsPurchasedBeforeWeekOfEvent
PercentOfTicketsPurchasedWeekOfEvent
PercentOfTransactionsViaTicketMaster
PercentOfTransactionsViaCallCenter
PercentOfTransactionsViaMobile
PercentOfTransactionsViaBoxOffice
PercentOfTransactionsViaOutlet

In [ ]:
# drop nan (will eventually handle with cleaning)
data_clean = data.dropna()
print(data_clean.shape)

(0, 217)

In [ ]:
import pandas as pd
from sklearn.mixture import GaussianMixture

# Assuming 'data' is your DataFrame

# Create a Gaussian Mixture Model with 5 components (clusters)
gmm = GaussianMixture(n_components=5, random_state=0)

# Fit the model on the entire dataset (excluding any non-numeric columns)
gmm.fit(data_clean.select_dtypes(include=[float, int]))

# Predict the clusters for all data points
data_clean['Cluster'] = gmm.predict(data_clean.select_dtypes(include=[float, int]))

# Get the cluster centers (means of the Gaussian components)
clusterCenters = gmm.means_

# Create a DataFrame to map clusters to their centers
clusterMap = pd.DataFrame(clusterCenters, columns=data_clean.select_dtypes(include=[float, int]).columns)

# Now 'data' has an additional 'Cluster' column indicating the cluster each data point belongs to

ValueError: Found array with 0 sample(s) (shape=(0, 190)) while a minimum of 2 is required by GaussianMixture.